In [1]:
import pandas as pd
import numpy as np

In [7]:
print(ny_df)

                     Name Gender  Age Country   BIB  Overall Place     Time  \
0          Wilson Kipsang      M   32     KEN     2              1  2:10:59
1     Lelisa Desisa Benti      M   24     ETH     4              2  2:11:06
2       Gebre Gebremariam      M   30     ETH     7              3  2:12:13
3          Meb Keflezighi      M   39     USA     5              4  2:13:18
4       Stephen Kiprotich      M   25     UGA    11              5  2:13:25
...                   ...    ...  ...     ...   ...            ...      ...
3055       Kevin Jennings      M   29     USA  2766            302  2:45:10
3056    Connor Hesselbirg      M   28     USA  7579            303  2:45:12
3057       Charlie Osmond      M   46     GBR  1550            304  2:45:13
3058       Manuel Haberer      M   33     ITA  2064            305  2:45:15
3059     Richard Marriott      M   43     GBR  1478            306  2:45:16

      Year
0     2014
1     2014
2     2014
3     2014
4     2014
...    ...
3055  2023
3056  2023
3057  2023
3058  2023
3059  2023

[3060 rows x 8 columns]

In [9]:
### Import and get "elite" data from New York
ny_df = pd.read_csv('NY_Marathon_Combined.csv')

# Calculate seconds
def time_to_seconds_2023(time_str):
    try:
        return pd.to_timedelta(time_str).total_seconds()
    except ValueError:
        return time_str.hour * 3600 + time_str.minute * 60 + time_str.second
    
ny_df['seconds'] = ny_df['Time'].apply(time_to_seconds_2023)

# Filter by elite
cutoff = 20
elite_ny = pd.DataFrame()

for sex in ['M','F']:
    for year in ny_df['Year'].unique():
        filtered_df = ny_df[(ny_df['Year'] == year) & (ny_df['Gender'] == sex)]
        filtered_df = filtered_df.nsmallest(cutoff, 'seconds')
        elite_ny = pd.concat([elite_ny,filtered_df],axis=0,ignore_index=True)

print(elite_ny)
# elite_df.to_csv('Berlin_Top20_2014_to_2023.csv',index=False)

                    Name Gender  Age Country  BIB  Overall Place     Time  \
0         Wilson Kipsang      M   32     KEN    2              1  2:10:59
1    Lelisa Desisa Benti      M   24     ETH    4              2  2:11:06
2      Gebre Gebremariam      M   30     ETH    7              3  2:12:13
3         Meb Keflezighi      M   39     USA    5              4  2:13:18
4      Stephen Kiprotich      M   25     UGA   11              5  2:13:25
..                   ...    ...  ...     ...  ...            ...      ...
195           Joe Whelan      M   32     USA   24             16  2:17:32
196           Garret Lee      M   30     USA   32             17  2:18:35
197            Ryan Root      M   32     USA   28             18  2:19:20
198      Wesley Robinson      M   26     USA   31             19  2:20:23
199      Thomas Slattery      M   27     USA   29             20  2:20:45

     Year  seconds
0    2014   7859.0
1    2014   7866.0
2    2014   7933.0
3    2014   7998.0
4    2014   8005.0
..    ...      ...
195  2023   8252.0
196  2023   8315.0
197  2023   8360.0
198  2023   8423.0
199  2023   8445.0

[200 rows x 9 columns]

In [10]:
### Import and get "elite" data from New York
chi_df = pd.read_csv('chicago_combined_marathon_data.csv')

# Calculate seconds
def time_to_seconds_2023(time_str):
    try:
        return pd.to_timedelta(time_str).total_seconds()
    except ValueError:
        return time_str.hour * 3600 + time_str.minute * 60 + time_str.second
    
chi_df['seconds'] = chi_df['Time'].apply(time_to_seconds_2023)

# Filter by elite
cutoff = 20
elite_chi = pd.DataFrame()

for sex in ['M','F']:
    for year in chi_df['Year'].unique():
        filtered_df = chi_df[(chi_df['Year'] == year) & (chi_df['Gender'] == sex)]
        filtered_df = filtered_df.nsmallest(cutoff, 'seconds')
        elite_chi = pd.concat([elite_chi,filtered_df],axis=0,ignore_index=True)

    Last Name, First Name     Time  OverAll Sex Place     DIV  \
0       Khalid Khannouchi  2:07:01      1.0     1 / 1  M25-29
1        Josephat Kiprono  2:07:29      2.0     2 / 2  M25-29
2             Moses Tanui  2:07:47      3.0     3 / 1  M35-39
3           Peter Githuka  2:08:02      4.0     4 / 1  M30-34
4             Fred Kiprop  2:08:23      5.0     5 / 3  M25-29
..                    ...      ...      ...       ...     ...
661           Sara Vaughn  2:23:24     64.0    10 / 1  F35-39
662      Gabriella Rooker  2:24:35     77.0    11 / 2  F35-39
663      Dakotah Lindwurm  2:24:40     81.0    12 / 5  F25-29
664            Emma Bates  2:25:04     86.0    13 / 5  F30-34
665       Tristin Van Ord  2:25:58     94.0    14 / 6  F25-29

    City, State, Country  Year Gender   Age  seconds
0                    USA  2000      M  28.0   7621.0
1                  Kenya  2000      M  26.0   7649.0
2                  Kenya  2000      M  35.0   7667.0
3                  Kenya  2000      M  31.0   7682.0
4                  Kenya  2000      M  26.0   7703.0
..                   ...   ...    ...   ...      ...
661                  USA  2023      F   NaN   8604.0
662                  USA  2023      F   NaN   8675.0
663                  USA  2023      F   NaN   8680.0
664                  USA  2023      F   NaN   8704.0
665                  USA  2023      F   NaN   8758.0

[666 rows x 10 columns]

In [25]:
# Import other data
elite_lon = pd.read_csv('Berlin Marathon Data/Berlin_Top20_2014_to_2023.csv')
elite_ber = pd.read_csv('London Marathon Data/London_Marathon_Elite_2014_to_2023.csv')
elite_bos = pd.read_csv('Boston Marathon Data/Boston_elite_2014_to_2023.csv')

In [26]:
# Add marathon identified to each dataframe
elite_lon['marathon'] = 'London'
elite_ber['marathon'] = 'Berlin'
elite_bos['marathon'] = 'Boston'
elite_ny['marathon'] = 'New York'
elite_chi['marathon'] = 'Chicago'

print(elite_lon.columns)
print(elite_ber.columns)
print(elite_bos.columns)
print(elite_ny.columns)
print(elite_chi.columns)

Index(['place', 'bib', 'last_name', 'first_name', 'club', 'country', 'sex',
       'division', 'division_result', 'net_time', 'finish_time', 'year',
       'gender_result', 'name', 'birth_date', 'seconds', 'marathon'],
      dtype='object')
Index(['Overall Place', 'Gender Place', 'Category Place', 'Club',
       'Runner Number', 'Gender', 'Category', 'Event', 'Half Time',
       'Finish Time', 'Year', 'Last Name', 'First Name', 'Country',
       'Total Seconds', 'Half Seconds', 'marathon'],
      dtype='object')
Index(['official_time', 'place_overall', 'net_time', 'contry_citizenship',
       'display_name', 'gender', 'gender_result', 'division_result', 'year',
       'division', 'age_graded_time', 'age', 'city', 'state', 'seconds',
       'residence', 'pace', 'overall', 'first_name', 'last_name', 'bib',
       'name', 'country_residence', 'name_suffix', '5k', '10k', '15k', '20k',
       'half', '25k', '30k', '35k', '40k', 'projected_time', 'marathon'],
      dtype='object')
Index(['name', 'gender', 'age', 'country', 'bib', 'place_overall',
       'finish_time', 'year', 'seconds', 'marathon'],
      dtype='object')
Index(['name', 'finish_time', 'place_overall', 'sex_div_place', 'division',
       'city_state_country', 'year', 'sex', 'age', 'seconds', 'marathon'],
      dtype='object')

In [29]:
# Rename chicago columns to match other dataframe column names
elite_chi = elite_chi.rename(columns={
    'Last Name, First Name': 'name',
    'Time': 'finish_time',
    'OverAll': 'place_overall',
    'Sex Place': 'sex_div_place',
    'DIV': 'division',
    'City, State, Country': 'city_state_country',
    'Year': 'year',
    'Gender': 'gender',
    'Age': 'age'
})

# Rename new york columns to match other dataframe columns
elite_ny = elite_ny.rename(columns={
    'Name': 'name',
    'Gender': 'gender',
    'Age': 'age',
    'Country': 'country',
    'BIB': 'bib',
    'Overall Place': 'place_overall',
    'Time': 'finish_time',
    'Year': 'year'
})

# Rename london columns to match other dataframe columns
elite_lon = elite_lon.rename(columns={
    'place': 'place_overall',
    'sex': 'gender',
    'gender_result': 'place_gender',
    'division_result': 'place_division'
})

# Rename berlin columns to match other dataframe columns
elite_ber = elite_ber.rename(columns={
    'Overall Place': 'place_overall',
    'Gender Place': 'place_gender',
    'Category Place': 'place_division',
    'Club': 'club',
    'Runner Number': 'bib',
    'Gender': 'gender',
    'Category': 'division',
    'Event': 'event',
    'Half Time': 'half',
    'Finish Time': 'finish_time',
    'Year': 'year',
    'Last Name': 'last_name',
    'First Name': 'first_name',
    'Country': 'country',
    'Total Seconds': 'seconds',
    'Half Seconds': 'half_seconds'
})

# Rename boston columns to match other dataframe columns
elite_ber = elite_ber.rename(columns={
    'official_time': 'finish_time',
    'contry_citizenship': 'country',
    'display_name': 'name',
    'gender_result': 'place_gender',
    'division_result': 'place_division'
})

In [31]:
# Combine dataframes
elite_df = pd.concat([elite_ny, elite_chi, elite_bos, elite_ber, elite_lon], axis=0, ignore_index=True)
elite_df.to_csv('combined_marathon_data.csv', index=False)