<a href="https://colab.research.google.com/github/snwnkang/CS171_Final_vis_Marathon/blob/main/Boston_marathon_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
from IPython.display import HTML
import html

In [12]:
year = 2014
gender = 'F'

In [13]:
raw_html1 = """<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Boston Marathon Results Archives</title>
<!-- <meta name="description" content="Description" />
	<meta name="keywords" content="keywords, keywords" />-->
	<link rel="stylesheet" type="text/css" href="/_CSS/IframeStyle.css">
</head>

<body>
<!-- iframe_content -->
<div class="iframe_content">
	<div class="iframe_content_pad">



	<div class="tablegrid">
	<div class="tablegrid_pad">


	<table class="tablegrid_title">
		<tbody><tr>
			<th>
			<span class="white_text">BOSTON MARATHON ARCHIVES</span>
			</th>
		</tr>
	</tbody></table>


	<table class="tablegrid_nav">

	<tbody><tr>
	<td><form method="post" action="iframe_ArchiveSearch.cfm?mode=entry&amp;snap=73497829&amp;">
	<input class="submit_button" type="submit" value="Search Again"></form></td>
	<td class="tablegrid_list_item"><form method="post" action="iframe_ArchiveSearch.cfm?RaceYearLowID=2014&amp;RaceYearHighID=0&amp;BibNumber=&amp;FirstName=&amp;LastName=&amp;CountryOfResidenceID=0&amp;StateID=0&amp;AgeLowID=0&amp;AgeHighID=0&amp;GenderID=2&amp;Zip=&amp;City=&amp;TimeLowHr=&amp;TimeLowMin=&amp;TimeLowSec=00&amp;TimeHighHr=&amp;TimeHighMin=&amp;TimeHighSec=59&amp;SortOrder=ByTime&amp;snap=73497829&amp;">
	<input class="submit_button" type="submit" value="Refine Your Search"></form></td>
	</tr>

		<tr>
		<td colspan="2">
		Your search	returned 14356 result(s).<br>
		Criteria:
			Race Year 2014,

			Gender F,

	sorted by Finish Time.

		</td>
		</tr>

	</tbody></table>

	<table class="tablegrid_list">
	    <tbody><tr>
		<td class="tablegrid_list_item">



				<table class="tablegrid_table">



						<thead>
						<tr>

								<th>Year</th>

								<th>Bib</th>

								<th>Name</th>

								<th>Age</th>

								<th>M/F</th>

								<th>City</th>

								<th>State</th>

								<th>Country</th>

								<th> </th>

						</tr>
						</thead>


					<tbody>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W101
								</td>

								<td>
									McFadden, Tatyana
								</td>

								<td>
									25
								</td>

								<td>
									F
								</td>

								<td>
									Champaign
								</td>

								<td>
									IL
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>17       / 53      </td>

											<td>1        / 11      </td>

											<td>1        / 11      </td>

											<td>1:35:06</td>

											<td>1:35:06</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W105
								</td>

								<td>
									Tsuchida, Wakako
								</td>

								<td>
									39
								</td>

								<td>
									F
								</td>

								<td>
									Tama City Tokyo
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									JPN
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>24       / 53      </td>

											<td>2        / 11      </td>

											<td>2        / 11      </td>

											<td>1:37:24</td>

											<td>1:37:24</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W108
								</td>

								<td>
									Scaroni, Susannah
								</td>

								<td>
									22
								</td>

								<td>
									F
								</td>

								<td>
									Urbana
								</td>

								<td>
									IL
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>27       / 53      </td>

											<td>3        / 11      </td>

											<td>3        / 11      </td>

											<td>1:38:33</td>

											<td>1:38:33</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W107
								</td>

								<td>
									Schar, Manuela
								</td>

								<td>
									29
								</td>

								<td>
									F
								</td>

								<td>
									Kriens
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									SUI
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>29       / 53      </td>

											<td>4        / 11      </td>

											<td>4        / 11      </td>

											<td>1:39:39</td>

											<td>1:39:39</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W106
								</td>

								<td>
									Woods, Shelly
								</td>

								<td>
									27
								</td>

								<td>
									F
								</td>

								<td>
									Lytham - St Annes
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									GBR
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>31       / 53      </td>

											<td>5        / 11      </td>

											<td>5        / 11      </td>

											<td>1:41:42</td>

											<td>1:41:42</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W109
								</td>

								<td>
									Roy, Diane
								</td>

								<td>
									43
								</td>

								<td>
									F
								</td>

								<td>
									Sherbrooke
								</td>

								<td>
									QC
								</td>

								<td>
									CAN
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>32       / 53      </td>

											<td>6        / 11      </td>

											<td>6        / 11      </td>

											<td>1:43:40</td>

											<td>1:43:40</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W104
								</td>

								<td>
									Reilly, Shirley S.
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Tucson
								</td>

								<td>
									AZ
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>37       / 53      </td>

											<td>7        / 11      </td>

											<td>7        / 11      </td>

											<td>1:44:34</td>

											<td>1:44:34</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W103
								</td>

								<td>
									McGrory, Amanda M.
								</td>

								<td>
									27
								</td>

								<td>
									F
								</td>

								<td>
									Savoy
								</td>

								<td>
									IL
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>42       / 53      </td>

											<td>8        / 11      </td>

											<td>8        / 11      </td>

											<td>1:50:52</td>

											<td>1:50:52</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W111
								</td>

								<td>
									Moore, Jill
								</td>

								<td>
									21
								</td>

								<td>
									F
								</td>

								<td>
									Champaign
								</td>

								<td>
									IL
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>46       / 53      </td>

											<td>9        / 11      </td>

											<td>9        / 11      </td>

											<td>2:13:58</td>

											<td>2:13:58</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W112
								</td>

								<td>
									Rausin, Arielle
								</td>

								<td>
									20
								</td>

								<td>
									F
								</td>

								<td>
									Urbana
								</td>

								<td>
									IL
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>48       / 53      </td>

											<td>10       / 11      </td>

											<td>10       / 11      </td>

											<td>2:17:03</td>

											<td>2:17:03</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F1
								</td>

								<td>
									Jeptoo, Rita
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Eldoret
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									KEN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>21       / 31925   </td>

											<td>1        / 14343   </td>

											<td>1        / 6976    </td>

											<td>2:18:57</td>

											<td>2:18:57</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F10
								</td>

								<td>
									Deba, Buzunesh
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Arsi
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									ETH
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>25       / 31925   </td>

											<td>2        / 14343   </td>

											<td>2        / 6976    </td>

											<td>2:19:59</td>

											<td>2:19:59</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F2
								</td>

								<td>
									Dibaba, Mare
								</td>

								<td>
									24
								</td>

								<td>
									F
								</td>

								<td>
									Shoa
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									ETH
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>27       / 31925   </td>

											<td>3        / 14343   </td>

											<td>3        / 6976    </td>

											<td>2:20:35</td>

											<td>2:20:35</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F3
								</td>

								<td>
									Sumgong, Jemima Jelagat
								</td>

								<td>
									29
								</td>

								<td>
									F
								</td>

								<td>
									Nandi
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									KEN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>28       / 31925   </td>

											<td>4        / 14343   </td>

											<td>4        / 6976    </td>

											<td>2:20:41</td>

											<td>2:20:41</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F25
								</td>

								<td>
									Melkamu, Meselech
								</td>

								<td>
									29
								</td>

								<td>
									F
								</td>

								<td>
									Addis Ababa
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									ETH
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>33       / 31925   </td>

											<td>5        / 14343   </td>

											<td>5        / 6976    </td>

											<td>2:21:28</td>

											<td>2:21:28</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F12
								</td>

								<td>
									Duliba, Aleksandra
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Minsk
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									BLR
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>34       / 31925   </td>

											<td>6        / 14343   </td>

											<td>6        / 6976    </td>

											<td>2:21:29</td>

											<td>2:21:29</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F17
								</td>

								<td>
									Flanagan, Shalane
								</td>

								<td>
									32
								</td>

								<td>
									F
								</td>

								<td>
									Portland
								</td>

								<td>
									OR
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>37       / 31925   </td>

											<td>7        / 14343   </td>

											<td>7        / 6976    </td>

											<td>2:22:02</td>

											<td>2:22:02</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									36462
								</td>

								<td>
									Sanden, Beth J.
								</td>

								<td>
									59
								</td>

								<td>
									F
								</td>

								<td>
									San Clemente
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>
									HANDCYCLE
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>19       / 20      </td>

											<td>1        / 2       </td>

											<td>1        / 2       </td>

											<td>2:22:11</td>

											<td>2:22:11</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F6
								</td>

								<td>
									Cherop, Sharon
								</td>

								<td>
									30
								</td>

								<td>
									F
								</td>

								<td>
									Marakwet
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									KEN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>40       / 31925   </td>

											<td>8        / 14343   </td>

											<td>8        / 6976    </td>

											<td>2:23:00</td>

											<td>2:23:00</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F15
								</td>

								<td>
									Ongori, Philes
								</td>

								<td>
									27
								</td>

								<td>
									F
								</td>

								<td>
									Kisii
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									KEN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>42       / 31925   </td>

											<td>9        / 14343   </td>

											<td>9        / 6976    </td>

											<td>2:23:22</td>

											<td>2:23:22</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F8
								</td>

								<td>
									Linden, Desiree
								</td>

								<td>
									30
								</td>

								<td>
									F
								</td>

								<td>
									Rochester Hills
								</td>

								<td>
									MI
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>46       / 31925   </td>

											<td>10       / 14343   </td>

											<td>10       / 6976    </td>

											<td>2:23:54</td>

											<td>2:23:54</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F16
								</td>

								<td>
									Oljira, Belaynesh
								</td>

								<td>
									23
								</td>

								<td>
									F
								</td>

								<td>
									Wellega
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									ETH
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>48       / 31925   </td>

											<td>11       / 14343   </td>

											<td>11       / 6976    </td>

											<td>2:24:21</td>

											<td>2:24:21</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									36470
								</td>

								<td>
									Kensky, Jessica A.
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Medford
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>
									HANDCYCLE
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>20       / 20      </td>

											<td>2        / 2       </td>

											<td>2        / 2       </td>

											<td>2:27:19</td>

											<td>2:27:19</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F14
								</td>

								<td>
									Esayias, Yeshi
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Arsi
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									ETH
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>71       / 31925   </td>

											<td>12       / 14343   </td>

											<td>12       / 6976    </td>

											<td>2:27:40</td>

											<td>2:27:40</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F11
								</td>

								<td>
									Petrova Arkhipova, Tatiana
								</td>

								<td>
									31
								</td>

								<td>
									F
								</td>

								<td>
									Cheboksary
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									RUS
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>102      / 31925   </td>

											<td>13       / 14343   </td>

											<td>13       / 6976    </td>

											<td>2:30:29</td>

											<td>2:30:29</td>

									</tr>


								</tbody></table>
							</td>
							</tr>

					<tr>
					<td colspan="9">
						<table class="tablegrid_table">
							<tbody><tr>
								<td width="50%">

									&nbsp;

								</td>

								<td>

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="26">
										<input class="submit_button" type="submit" name="next" value="Next 25 Records">
									</form>

								</td>
							</tr>
						</tbody></table>
					</td>
					</tr>



					</tbody>
				</table>




		</td>
		</tr>
		</tbody></table>

	</div>
	</div>



	</div>
</div>


</body></html>"""

raw_html2 = """<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Boston Marathon Results Archives</title>
<!-- <meta name="description" content="Description" />
	<meta name="keywords" content="keywords, keywords" />-->
	<link rel="stylesheet" type="text/css" href="/_CSS/IframeStyle.css">
</head>

<body>
<!-- iframe_content -->
<div class="iframe_content">
	<div class="iframe_content_pad">



	<div class="tablegrid">
	<div class="tablegrid_pad">


	<table class="tablegrid_title">
		<tbody><tr>
			<th>
			<span class="white_text">BOSTON MARATHON ARCHIVES</span>
			</th>
		</tr>
	</tbody></table>


	<table class="tablegrid_nav">

	<tbody><tr>
	<td><form method="post" action="iframe_ArchiveSearch.cfm?mode=entry&amp;snap=21590686&amp;">
	<input class="submit_button" type="submit" value="Search Again"></form></td>
	<td class="tablegrid_list_item">&nbsp;</td>
	</tr>

	</tbody></table>

	<table class="tablegrid_list">
	    <tbody><tr>
		<td class="tablegrid_list_item">



				<table class="tablegrid_table">



						<thead>
						<tr>

								<th>Year</th>

								<th>Bib</th>

								<th>Name</th>

								<th>Age</th>

								<th>M/F</th>

								<th>City</th>

								<th>State</th>

								<th>Country</th>

								<th> </th>

						</tr>
						</thead>


					<tbody>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F20
								</td>

								<td>
									Marchant, Lanni
								</td>

								<td>
									30
								</td>

								<td>
									F
								</td>

								<td>
									London
								</td>

								<td>
									ON
								</td>

								<td>
									CAN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>105      / 31925   </td>

											<td>14       / 14343   </td>

											<td>14       / 6976    </td>

											<td>2:30:34</td>

											<td>2:30:34</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F23
								</td>

								<td>
									Nelson, Adriana
								</td>

								<td>
									34
								</td>

								<td>
									F
								</td>

								<td>
									Fort Collins
								</td>

								<td>
									CO
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>110      / 31925   </td>

											<td>15       / 14343   </td>

											<td>15       / 6976    </td>

											<td>2:31:15</td>

											<td>2:31:15</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F24
								</td>

								<td>
									Aparecida da Silva, Adriana
								</td>

								<td>
									32
								</td>

								<td>
									F
								</td>

								<td>
									Sao Paulo
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									BRA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>111      / 31925   </td>

											<td>16       / 14343   </td>

											<td>16       / 6976    </td>

											<td>2:31:18</td>

											<td>2:31:18</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F7
								</td>

								<td>
									Kilel, Caroline
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Bomet
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									KEN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>121      / 31925   </td>

											<td>17       / 14343   </td>

											<td>17       / 6976    </td>

											<td>2:32:04</td>

											<td>2:32:04</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F21
								</td>

								<td>
									Burla, Serena
								</td>

								<td>
									31
								</td>

								<td>
									F
								</td>

								<td>
									Stafford
								</td>

								<td>
									VA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>128      / 31925   </td>

											<td>18       / 14343   </td>

											<td>18       / 6976    </td>

											<td>2:32:27</td>

											<td>2:32:27</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F30
								</td>

								<td>
									Thomas, Wendy
								</td>

								<td>
									35
								</td>

								<td>
									F
								</td>

								<td>
									Windsor
								</td>

								<td>
									CO
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>132      / 31925   </td>

											<td>19       / 14343   </td>

											<td>19       / 6976    </td>

											<td>2:32:49</td>

											<td>2:32:49</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F29
								</td>

								<td>
									Erb, Esther
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Lambertville
								</td>

								<td>
									NJ
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>140      / 31925   </td>

											<td>20       / 14343   </td>

											<td>20       / 6976    </td>

											<td>2:33:15</td>

											<td>2:33:15</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F22
								</td>

								<td>
									Higuchi, Noriko
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Kyoto
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									JPN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>145      / 31925   </td>

											<td>21       / 14343   </td>

											<td>21       / 6976    </td>

											<td>2:33:39</td>

											<td>2:33:39</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F33
								</td>

								<td>
									Cummings, Sarah
								</td>

								<td>
									25
								</td>

								<td>
									F
								</td>

								<td>
									New York
								</td>

								<td>
									NY
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>176      / 31925   </td>

											<td>22       / 14343   </td>

											<td>22       / 6976    </td>

											<td>2:34:57</td>

											<td>2:34:57</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F32
								</td>

								<td>
									Dionne, Hilary K.
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Charlestown
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>184      / 31925   </td>

											<td>23       / 14343   </td>

											<td>23       / 6976    </td>

											<td>2:35:08</td>

											<td>2:35:08</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F102
								</td>

								<td>
									Simon, Lidia
								</td>

								<td>
									40
								</td>

								<td>
									F
								</td>

								<td>
									Boulder
								</td>

								<td>
									CO
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>222      / 31925   </td>

											<td>24       / 14343   </td>

											<td>1        / 2335    </td>

											<td>2:36:47</td>

											<td>2:36:47</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F39
								</td>

								<td>
									Walkonen, Andrea R.
								</td>

								<td>
									27
								</td>

								<td>
									F
								</td>

								<td>
									Lebanon
								</td>

								<td>
									NH
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>229      / 31925   </td>

											<td>25       / 14343   </td>

											<td>24       / 6976    </td>

											<td>2:37:06</td>

											<td>2:37:06</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F104
								</td>

								<td>
									Olaru, Nuta
								</td>

								<td>
									43
								</td>

								<td>
									F
								</td>

								<td>
									Longmont
								</td>

								<td>
									CO
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>243      / 31925   </td>

											<td>26       / 14343   </td>

											<td>2        / 2335    </td>

											<td>2:37:29</td>

											<td>2:37:29</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F28
								</td>

								<td>
									Portis, Laura A.
								</td>

								<td>
									27
								</td>

								<td>
									F
								</td>

								<td>
									Kalamazoo
								</td>

								<td>
									MI
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>291      / 31925   </td>

											<td>27       / 14343   </td>

											<td>25       / 6976    </td>

											<td>2:38:48</td>

											<td>2:38:48</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F103
								</td>

								<td>
									Boulet, Magdalena
								</td>

								<td>
									40
								</td>

								<td>
									F
								</td>

								<td>
									Oakland
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>401      / 31925   </td>

											<td>28       / 14343   </td>

											<td>3        / 2335    </td>

											<td>2:41:36</td>

											<td>2:41:36</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F31
								</td>

								<td>
									Jesseman, Erica
								</td>

								<td>
									25
								</td>

								<td>
									F
								</td>

								<td>
									Scarborough
								</td>

								<td>
									ME
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>443      / 31925   </td>

											<td>29       / 14343   </td>

											<td>26       / 6976    </td>

											<td>2:42:32</td>

											<td>2:42:32</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F40
								</td>

								<td>
									Wetsch, Bria A.
								</td>

								<td>
									25
								</td>

								<td>
									F
								</td>

								<td>
									Mammoth Lakes
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>444      / 31925   </td>

											<td>30       / 14343   </td>

											<td>27       / 6976    </td>

											<td>2:42:33</td>

											<td>2:42:33</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F105
								</td>

								<td>
									Piers, Sheri
								</td>

								<td>
									42
								</td>

								<td>
									F
								</td>

								<td>
									Falmouth
								</td>

								<td>
									ME
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>455      / 31925   </td>

											<td>31       / 14343   </td>

											<td>4        / 2335    </td>

											<td>2:42:40</td>

											<td>2:42:40</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F34
								</td>

								<td>
									Green, Amber
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Saint George
								</td>

								<td>
									UT
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>491      / 31925   </td>

											<td>32       / 14343   </td>

											<td>28       / 6976    </td>

											<td>2:43:27</td>

											<td>2:43:27</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F36
								</td>

								<td>
									Philbrook, Lauren
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Hopkinton
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>590      / 31925   </td>

											<td>34       / 14343   </td>

											<td>30       / 6976    </td>

											<td>2:44:56</td>

											<td>2:44:56</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2569
								</td>

								<td>
									Dannis, Larisa E.
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Strafford
								</td>

								<td>
									NH
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>540      / 31925   </td>

											<td>33       / 14343   </td>

											<td>29       / 6976    </td>

											<td>2:45:29</td>

											<td>2:44:14</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1365
								</td>

								<td>
									Edwards, Katie
								</td>

								<td>
									32
								</td>

								<td>
									F
								</td>

								<td>
									South Glastonbury
								</td>

								<td>
									CT
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>618      / 31925   </td>

											<td>35       / 14343   </td>

											<td>31       / 6976    </td>

											<td>2:45:59</td>

											<td>2:45:29</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1604
								</td>

								<td>
									Hardcastle, Kath
								</td>

								<td>
									32
								</td>

								<td>
									F
								</td>

								<td>
									Watertown
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>632      / 31925   </td>

											<td>36       / 14343   </td>

											<td>32       / 6976    </td>

											<td>2:46:21</td>

											<td>2:45:42</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F41
								</td>

								<td>
									Drobeck, Trisha
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Missoula
								</td>

								<td>
									MT
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>677      / 31925   </td>

											<td>38       / 14343   </td>

											<td>34       / 6976    </td>

											<td>2:46:28</td>

											<td>2:46:28</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									W113
								</td>

								<td>
									Kapinowski, Jacqui
								</td>

								<td>
									51
								</td>

								<td>
									F
								</td>

								<td>
									Tequesta
								</td>

								<td>
									FL
								</td>

								<td>
									USA
								</td>

								<td>
									WHEELCHAIR
								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>50       / 53      </td>

											<td>11       / 11      </td>

											<td>11       / 11      </td>

											<td>2:46:41</td>

											<td>2:46:41</td>

									</tr>


								</tbody></table>
							</td>
							</tr>

					<tr>
					<td colspan="9">
						<table class="tablegrid_table">
							<tbody><tr>
								<td width="50%">

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="1">
										<input class="submit_button" type="submit" name="previous" value="Previous 25 Records">
									</form>

								</td>

								<td>

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="51">
										<input class="submit_button" type="submit" name="next" value="Next 25 Records">
									</form>

								</td>
							</tr>
						</tbody></table>
					</td>
					</tr>



					</tbody>
				</table>




		</td>
		</tr>
		</tbody></table>

	</div>
	</div>



	</div>
</div>


</body></html>"""

raw_html3 = """<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Boston Marathon Results Archives</title>
<!-- <meta name="description" content="Description" />
	<meta name="keywords" content="keywords, keywords" />-->
	<link rel="stylesheet" type="text/css" href="/_CSS/IframeStyle.css">
</head>

<body>
<!-- iframe_content -->
<div class="iframe_content">
	<div class="iframe_content_pad">



	<div class="tablegrid">
	<div class="tablegrid_pad">


	<table class="tablegrid_title">
		<tbody><tr>
			<th>
			<span class="white_text">BOSTON MARATHON ARCHIVES</span>
			</th>
		</tr>
	</tbody></table>


	<table class="tablegrid_nav">

	<tbody><tr>
	<td><form method="post" action="iframe_ArchiveSearch.cfm?mode=entry&amp;snap=91258157&amp;">
	<input class="submit_button" type="submit" value="Search Again"></form></td>
	<td class="tablegrid_list_item">&nbsp;</td>
	</tr>

	</tbody></table>

	<table class="tablegrid_list">
	    <tbody><tr>
		<td class="tablegrid_list_item">



				<table class="tablegrid_table">



						<thead>
						<tr>

								<th>Year</th>

								<th>Bib</th>

								<th>Name</th>

								<th>Age</th>

								<th>M/F</th>

								<th>City</th>

								<th>State</th>

								<th>Country</th>

								<th> </th>

						</tr>
						</thead>


					<tbody>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1614
								</td>

								<td>
									Kelly, Mary K.
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Broomall
								</td>

								<td>
									PA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>644      / 31925   </td>

											<td>37       / 14343   </td>

											<td>33       / 6976    </td>

											<td>2:46:44</td>

											<td>2:45:55</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F44
								</td>

								<td>
									Hirose, Mitsuko
								</td>

								<td>
									39
								</td>

								<td>
									F
								</td>

								<td>
									Tokyo
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									JPN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>742      / 31925   </td>

											<td>40       / 14343   </td>

											<td>36       / 6976    </td>

											<td>2:47:30</td>

											<td>2:47:30</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F112
								</td>

								<td>
									Bentley, Lisa
								</td>

								<td>
									45
								</td>

								<td>
									F
								</td>

								<td>
									Clermont
								</td>

								<td>
									FL
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>760      / 31925   </td>

											<td>41       / 14343   </td>

											<td>1        / 2293    </td>

											<td>2:47:47</td>

											<td>2:47:47</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1383
								</td>

								<td>
									Yaremczuk, Natasha
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Paris
								</td>

								<td>
									ON
								</td>

								<td>
									CAN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>726      / 31925   </td>

											<td>39       / 14343   </td>

											<td>35       / 6976    </td>

											<td>2:47:49</td>

											<td>2:47:15</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F111
								</td>

								<td>
									Glasson, Rachel
								</td>

								<td>
									44
								</td>

								<td>
									F
								</td>

								<td>
									Lake Albert
								</td>

								<td>

											&nbsp;

								</td>

								<td>
									AUS
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>784      / 31925   </td>

											<td>42       / 14343   </td>

											<td>5        / 2335    </td>

											<td>2:47:57</td>

											<td>2:47:57</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F45
								</td>

								<td>
									Conway, Jodie L.
								</td>

								<td>
									37
								</td>

								<td>
									F
								</td>

								<td>
									Framingham
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>808      / 31925   </td>

											<td>44       / 14343   </td>

											<td>38       / 6976    </td>

											<td>2:48:17</td>

											<td>2:48:17</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F38
								</td>

								<td>
									Smith, Caitlin
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Oakland
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>813      / 31925   </td>

											<td>45       / 14343   </td>

											<td>39       / 6976    </td>

											<td>2:48:23</td>

											<td>2:48:23</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2145
								</td>

								<td>
									Drynan, Allison
								</td>

								<td>
									37
								</td>

								<td>
									F
								</td>

								<td>
									Toronto
								</td>

								<td>
									ON
								</td>

								<td>
									CAN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>789      / 31925   </td>

											<td>43       / 14343   </td>

											<td>37       / 6976    </td>

											<td>2:49:40</td>

											<td>2:47:59</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1932
								</td>

								<td>
									Marsh, Lynn
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Indianapolis
								</td>

								<td>
									IN
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>857      / 31925   </td>

											<td>46       / 14343   </td>

											<td>40       / 6976    </td>

											<td>2:49:46</td>

											<td>2:48:49</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1345
								</td>

								<td>
									Teeuwen, Rosalie L.
								</td>

								<td>
									34
								</td>

								<td>
									F
								</td>

								<td>
									Baton Rouge
								</td>

								<td>
									LA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>931      / 31925   </td>

											<td>47       / 14343   </td>

											<td>41       / 6976    </td>

											<td>2:50:15</td>

											<td>2:49:37</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F48
								</td>

								<td>
									Steinbacher, Dani
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Ann Arbor
								</td>

								<td>
									MI
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1006     / 31925   </td>

											<td>53       / 14343   </td>

											<td>47       / 6976    </td>

											<td>2:50:37</td>

											<td>2:50:37</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1511
								</td>

								<td>
									Pishny, Elle
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									San Francisco
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>950      / 31925   </td>

											<td>49       / 14343   </td>

											<td>43       / 6976    </td>

											<td>2:50:42</td>

											<td>2:49:51</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1787
								</td>

								<td>
									Hoak, Aileen M
								</td>

								<td>
									31
								</td>

								<td>
									F
								</td>

								<td>
									Buffalo
								</td>

								<td>
									NY
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>972      / 31925   </td>

											<td>50       / 14343   </td>

											<td>44       / 6976    </td>

											<td>2:50:57</td>

											<td>2:50:08</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1499
								</td>

								<td>
									Niles, Alexandra
								</td>

								<td>
									30
								</td>

								<td>
									F
								</td>

								<td>
									Fairfield
								</td>

								<td>
									NJ
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>986      / 31925   </td>

											<td>52       / 14343   </td>

											<td>46       / 6976    </td>

											<td>2:50:57</td>

											<td>2:50:23</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F106
								</td>

								<td>
									Barry, Kristin P.
								</td>

								<td>
									40
								</td>

								<td>
									F
								</td>

								<td>
									Scarborough
								</td>

								<td>
									ME
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1080     / 31925   </td>

											<td>56       / 14343   </td>

											<td>6        / 2335    </td>

											<td>2:51:23</td>

											<td>2:51:23</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									671
								</td>

								<td>
									Wells, Brooke L.
								</td>

								<td>
									29
								</td>

								<td>
									F
								</td>

								<td>
									San Francisco
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>942      / 31925   </td>

											<td>48       / 14343   </td>

											<td>42       / 6976    </td>

											<td>2:52:01</td>

											<td>2:49:45</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1389
								</td>

								<td>
									Hardesty, Melissa
								</td>

								<td>
									36
								</td>

								<td>
									F
								</td>

								<td>
									Cary
								</td>

								<td>
									NC
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1051     / 31925   </td>

											<td>54       / 14343   </td>

											<td>48       / 6976    </td>

											<td>2:52:07</td>

											<td>2:51:04</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									983
								</td>

								<td>
									Samuelson, Joan B.
								</td>

								<td>
									56
								</td>

								<td>
									F
								</td>

								<td>
									Freeport
								</td>

								<td>
									ME
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1150     / 31925   </td>

											<td>58       / 14343   </td>

											<td>1        / 764     </td>

											<td>2:52:15</td>

											<td>2:52:10</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F42
								</td>

								<td>
									Mareb, Emily A.
								</td>

								<td>
									29
								</td>

								<td>
									F
								</td>

								<td>
									New York
								</td>

								<td>
									NY
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1181     / 31925   </td>

											<td>62       / 14343   </td>

											<td>54       / 6976    </td>

											<td>2:52:24</td>

											<td>2:52:24</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F116
								</td>

								<td>
									Starosciak, Kaye A.
								</td>

								<td>
									40
								</td>

								<td>
									F
								</td>

								<td>
									Canton
								</td>

								<td>
									GA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1199     / 31925   </td>

											<td>65       / 14343   </td>

											<td>7        / 2335    </td>

											<td>2:52:37</td>

											<td>2:52:37</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2933
								</td>

								<td>
									Donahue, Sara M
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Jamaica Plain
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1070     / 31925   </td>

											<td>55       / 14343   </td>

											<td>49       / 6976    </td>

											<td>2:53:07</td>

											<td>2:51:15</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F114
								</td>

								<td>
									Robson, Denise
								</td>

								<td>
									45
								</td>

								<td>
									F
								</td>

								<td>
									Dartmouth
								</td>

								<td>
									NS
								</td>

								<td>
									CAN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1265     / 31925   </td>

											<td>69       / 14343   </td>

											<td>2        / 2293    </td>

											<td>2:53:16</td>

											<td>2:53:16</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									F110
								</td>

								<td>
									Wiltse, Paula
								</td>

								<td>
									46
								</td>

								<td>
									F
								</td>

								<td>
									Brockville
								</td>

								<td>
									ON
								</td>

								<td>
									CAN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1284     / 31925   </td>

											<td>70       / 14343   </td>

											<td>3        / 2293    </td>

											<td>2:53:26</td>

											<td>2:53:26</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1802
								</td>

								<td>
									Snead, Samantha
								</td>

								<td>
									25
								</td>

								<td>
									F
								</td>

								<td>
									Moscow
								</td>

								<td>
									PA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1191     / 31925   </td>

											<td>64       / 14343   </td>

											<td>56       / 6976    </td>

											<td>2:53:34</td>

											<td>2:52:30</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2129
								</td>

								<td>
									Marlier, Jessica M.
								</td>

								<td>
									28
								</td>

								<td>
									F
								</td>

								<td>
									Chattanooga
								</td>

								<td>
									TN
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1152     / 31925   </td>

											<td>59       / 14343   </td>

											<td>51       / 6976    </td>

											<td>2:53:41</td>

											<td>2:52:12</td>

									</tr>


								</tbody></table>
							</td>
							</tr>

					<tr>
					<td colspan="9">
						<table class="tablegrid_table">
							<tbody><tr>
								<td width="50%">

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="26">
										<input class="submit_button" type="submit" name="previous" value="Previous 25 Records">
									</form>

								</td>

								<td>

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="76">
										<input class="submit_button" type="submit" name="next" value="Next 25 Records">
									</form>

								</td>
							</tr>
						</tbody></table>
					</td>
					</tr>



					</tbody>
				</table>




		</td>
		</tr>
		</tbody></table>

	</div>
	</div>



	</div>
</div>


</body></html>"""

raw_html4 = """<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Boston Marathon Results Archives</title>
<!-- <meta name="description" content="Description" />
	<meta name="keywords" content="keywords, keywords" />-->
	<link rel="stylesheet" type="text/css" href="/_CSS/IframeStyle.css">
</head>

<body>
<!-- iframe_content -->
<div class="iframe_content">
	<div class="iframe_content_pad">



	<div class="tablegrid">
	<div class="tablegrid_pad">


	<table class="tablegrid_title">
		<tbody><tr>
			<th>
			<span class="white_text">BOSTON MARATHON ARCHIVES</span>
			</th>
		</tr>
	</tbody></table>


	<table class="tablegrid_nav">

	<tbody><tr>
	<td><form method="post" action="iframe_ArchiveSearch.cfm?mode=entry&amp;snap=60581030&amp;">
	<input class="submit_button" type="submit" value="Search Again"></form></td>
	<td class="tablegrid_list_item">&nbsp;</td>
	</tr>

	</tbody></table>

	<table class="tablegrid_list">
	    <tbody><tr>
		<td class="tablegrid_list_item">



				<table class="tablegrid_table">



						<thead>
						<tr>

								<th>Year</th>

								<th>Bib</th>

								<th>Name</th>

								<th>Age</th>

								<th>M/F</th>

								<th>City</th>

								<th>State</th>

								<th>Country</th>

								<th> </th>

						</tr>
						</thead>


					<tbody>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2984
								</td>

								<td>
									Irish, Christine
								</td>

								<td>
									39
								</td>

								<td>
									F
								</td>

								<td>
									North Yarmouth
								</td>

								<td>
									ME
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1169     / 31925   </td>

											<td>61       / 14343   </td>

											<td>53       / 6976    </td>

											<td>2:53:51</td>

											<td>2:52:21</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2019
								</td>

								<td>
									Waters, Kara
								</td>

								<td>
									39
								</td>

								<td>
									F
								</td>

								<td>
									Great Falls
								</td>

								<td>
									VA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1190     / 31925   </td>

											<td>63       / 14343   </td>

											<td>55       / 6976    </td>

											<td>2:54:10</td>

											<td>2:52:29</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									3305
								</td>

								<td>
									Leonhardt, Kerri
								</td>

								<td>
									24
								</td>

								<td>
									F
								</td>

								<td>
									Boston
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1164     / 31925   </td>

											<td>60       / 14343   </td>

											<td>52       / 6976    </td>

											<td>2:54:11</td>

											<td>2:52:20</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2095
								</td>

								<td>
									Tarallo, Julie
								</td>

								<td>
									25
								</td>

								<td>
									F
								</td>

								<td>
									Washington
								</td>

								<td>
									DC
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1261     / 31925   </td>

											<td>68       / 14343   </td>

											<td>59       / 6976    </td>

											<td>2:55:01</td>

											<td>2:53:14</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1747
								</td>

								<td>
									Gries, Kelly L.
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Haslett
								</td>

								<td>
									MI
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1396     / 31925   </td>

											<td>77       / 14343   </td>

											<td>64       / 6976    </td>

											<td>2:55:16</td>

											<td>2:54:18</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									4649
								</td>

								<td>
									Quirino, Anita
								</td>

								<td>
									31
								</td>

								<td>
									F
								</td>

								<td>
									San Antonio
								</td>

								<td>
									TX
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1327     / 31925   </td>

											<td>72       / 14343   </td>

											<td>60       / 6976    </td>

											<td>2:55:17</td>

											<td>2:53:43</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1966
								</td>

								<td>
									Lockyer, Karen
								</td>

								<td>
									36
								</td>

								<td>
									F
								</td>

								<td>
									Gonzales
								</td>

								<td>
									LA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1468     / 31925   </td>

											<td>81       / 14343   </td>

											<td>68       / 6976    </td>

											<td>2:55:23</td>

											<td>2:54:51</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2516
								</td>

								<td>
									Sandahl, Denise M.
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Bow
								</td>

								<td>
									NH
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1385     / 31925   </td>

											<td>76       / 14343   </td>

											<td>63       / 6976    </td>

											<td>2:55:29</td>

											<td>2:54:13</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									3543
								</td>

								<td>
									Schmidt, Heidi H.
								</td>

								<td>
									47
								</td>

								<td>
									F
								</td>

								<td>
									Saint Louis
								</td>

								<td>
									MO
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1302     / 31925   </td>

											<td>71       / 14343   </td>

											<td>4        / 2293    </td>

											<td>2:55:37</td>

											<td>2:53:31</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									5541
								</td>

								<td>
									Olsen, Courtney M
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Ferndale
								</td>

								<td>
									WA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1200     / 31925   </td>

											<td>66       / 14343   </td>

											<td>57       / 6976    </td>

											<td>2:55:46</td>

											<td>2:52:37</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2464
								</td>

								<td>
									Grevenstuk, Michelle L.
								</td>

								<td>
									32
								</td>

								<td>
									F
								</td>

								<td>
									Otsego
								</td>

								<td>
									MI
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1383     / 31925   </td>

											<td>75       / 14343   </td>

											<td>62       / 6976    </td>

											<td>2:55:49</td>

											<td>2:54:12</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									3845
								</td>

								<td>
									Soloway, Kristen M
								</td>

								<td>
									40
								</td>

								<td>
									F
								</td>

								<td>
									Davis
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1340     / 31925   </td>

											<td>73       / 14343   </td>

											<td>8        / 2335    </td>

											<td>2:55:52</td>

											<td>2:53:50</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									3333
								</td>

								<td>
									Hails, Kate
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Somerville
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1403     / 31925   </td>

											<td>78       / 14343   </td>

											<td>65       / 6976    </td>

											<td>2:56:10</td>

											<td>2:54:21</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									4794
								</td>

								<td>
									Fisher, Dianne S.
								</td>

								<td>
									29
								</td>

								<td>
									F
								</td>

								<td>
									Rocky River
								</td>

								<td>
									OH
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1255     / 31925   </td>

											<td>67       / 14343   </td>

											<td>58       / 6976    </td>

											<td>2:56:14</td>

											<td>2:53:11</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2848
								</td>

								<td>
									Loken, Susan
								</td>

								<td>
									50
								</td>

								<td>
									F
								</td>

								<td>
									Phoenix
								</td>

								<td>
									AZ
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1498     / 31925   </td>

											<td>83       / 14343   </td>

											<td>1        / 1489    </td>

											<td>2:56:17</td>

											<td>2:55:02</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									1056
								</td>

								<td>
									Blackham, Merrilee
								</td>

								<td>
									36
								</td>

								<td>
									F
								</td>

								<td>
									Ogden
								</td>

								<td>
									UT
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1548     / 31925   </td>

											<td>86       / 14343   </td>

											<td>72       / 6976    </td>

											<td>2:56:24</td>

											<td>2:55:22</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2738
								</td>

								<td>
									Zinkus, Angie H
								</td>

								<td>
									37
								</td>

								<td>
									F
								</td>

								<td>
									Eads
								</td>

								<td>
									TN
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1499     / 31925   </td>

											<td>84       / 14343   </td>

											<td>70       / 6976    </td>

											<td>2:56:31</td>

											<td>2:55:02</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2409
								</td>

								<td>
									Tessier, Lyndsay L.
								</td>

								<td>
									36
								</td>

								<td>
									F
								</td>

								<td>
									Pickering
								</td>

								<td>
									ON
								</td>

								<td>
									CAN
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1484     / 31925   </td>

											<td>82       / 14343   </td>

											<td>69       / 6976    </td>

											<td>2:56:37</td>

											<td>2:54:57</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2812
								</td>

								<td>
									Bartolacci, Gina M.
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Coraopolis
								</td>

								<td>
									PA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1556     / 31925   </td>

											<td>87       / 14343   </td>

											<td>73       / 6976    </td>

											<td>2:56:41</td>

											<td>2:55:27</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									3083
								</td>

								<td>
									Allen, Amanda
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Boston
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1451     / 31925   </td>

											<td>80       / 14343   </td>

											<td>67       / 6976    </td>

											<td>2:56:46</td>

											<td>2:54:42</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									2388
								</td>

								<td>
									Denecke, Morgan L.
								</td>

								<td>
									23
								</td>

								<td>
									F
								</td>

								<td>
									Midlothian
								</td>

								<td>
									VA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1574     / 31925   </td>

											<td>88       / 14343   </td>

											<td>74       / 6976    </td>

											<td>2:56:54</td>

											<td>2:55:33</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									6605
								</td>

								<td>
									Conlon, Katie
								</td>

								<td>
									24
								</td>

								<td>
									F
								</td>

								<td>
									Seattle
								</td>

								<td>
									WA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>975      / 31925   </td>

											<td>51       / 14343   </td>

											<td>45       / 6976    </td>

											<td>2:56:58</td>

											<td>2:50:10</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									7504
								</td>

								<td>
									Misuraca, Katie
								</td>

								<td>
									33
								</td>

								<td>
									F
								</td>

								<td>
									Gloucester
								</td>

								<td>
									MA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1122     / 31925   </td>

											<td>57       / 14343   </td>

											<td>50       / 6976    </td>

											<td>2:57:02</td>

											<td>2:51:50</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									13011
								</td>

								<td>
									Tyler, Tori R
								</td>

								<td>
									26
								</td>

								<td>
									F
								</td>

								<td>
									Danville
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1426     / 31925   </td>

											<td>79       / 14343   </td>

											<td>66       / 6976    </td>

											<td>2:57:06</td>

											<td>2:54:31</td>

									</tr>


								</tbody></table>
							</td>
							</tr>


						<tr class="tr_header">

								<td>
									2014
								</td>

								<td>
									3066
								</td>

								<td>
									Allan, Kirsten
								</td>

								<td>
									23
								</td>

								<td>
									F
								</td>

								<td>
									Aliso Viejo
								</td>

								<td>
									CA
								</td>

								<td>
									USA
								</td>

								<td>

								</td>

						</tr>



							<tr>
							<td colspan="9">

								<table class="table_infogrid" style="width:95%;">


									<tbody><tr>
										<th rowspan="2" class="table_infogrid_title" style="background-color:#ddd; text-align:center;"> </th>

											<th>Overall</th>

											<th>Gender</th>

											<th>Division</th>

											<th>Official Time</th>

											<th>Net Time</th>

									</tr>
									<tr>

											<td>1522     / 31925   </td>

											<td>85       / 14343   </td>

											<td>71       / 6976    </td>

											<td>2:57:12</td>

											<td>2:55:11</td>

									</tr>


								</tbody></table>
							</td>
							</tr>

					<tr>
					<td colspan="9">
						<table class="tablegrid_table">
							<tbody><tr>
								<td width="50%">

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="51">
										<input class="submit_button" type="submit" name="previous" value="Previous 25 Records">
									</form>

								</td>

								<td>

									<form action="/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&amp;criteria=&amp;StoredProcParamsOn=yes&amp;&amp;VarRaceYearLowID=2014&amp;VarRaceYearHighID=0&amp;VarAgeLowID=0&amp;VarAgeHighID=0&amp;VarGenderID=2&amp;VarBibNumber=&amp;VarLastName=&amp;VarFirstName=&amp;VarStateID=0&amp;VarCountryOfResidenceID=0&amp;VarCity=&amp;VarZip=&amp;VarTimeLowHr=&amp;VarTimeLowMin=&amp;VarTimeLowSec=00&amp;VarTimeHighHr=&amp;VarTimeHighMin=&amp;VarTimeHighSec=59&amp;VarSortOrder=ByTime&amp;VarAddInactiveYears=0&amp;records=25&amp;headerexists=Yes&amp;bordersize=0&amp;bordercolor=%23ffffff&amp;rowcolorone=%23FFCC33&amp;rowcolortwo=%23FFCC33&amp;headercolor=%23ffffff&amp;headerfontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;headerfontcolor=%23004080&amp;headerfontsize=12px&amp;fontface=Verdana%2CArial%2CHelvetica%2Csans%2Dserif&amp;fontcolor=%23000099&amp;fontsize=10px&amp;linkfield=&amp;linkurl=&amp;linkparams=&amp;queryname=SearchResults&amp;tablefields=RaceYear%2CFullBibNumber%2CFormattedSortName%2CAgeOnRaceDay%2CGenderCode%2CCity%2CStateAbbrev%2CCountryOfResAbbrev%2CReportingSegment" method="post">
										<input type="hidden" name="start" value="101">
										<input class="submit_button" type="submit" name="next" value="Next 25 Records">
									</form>

								</td>
							</tr>
						</tbody></table>
					</td>
					</tr>



					</tbody>
				</table>




		</td>
		</tr>
		</tbody></table>

	</div>
	</div>



	</div>
</div>


</body></html>"""

In [14]:
soup1 = BeautifulSoup(raw_html1, 'html.parser')
soup2 = BeautifulSoup(raw_html2, 'html.parser')
soup3 = BeautifulSoup(raw_html3, 'html.parser')
soup4 = BeautifulSoup(raw_html4, 'html.parser')

In [9]:
all_header = soup1.select('.tr_header')

In [11]:
len(all_header)

25