<a href="https://colab.research.google.com/github/snwnkang/CS171_Final_vis_Marathon/blob/main/Data_cleanup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

In [2]:
cmdf2000 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2000.csv')

In [3]:
cmdf2001 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2001.csv', encoding='latin1')

In [4]:
cmdf2002 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2002.csv')
cmdf2003 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2003.csv')
cmdf2004 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2004.csv')
cmdf2005 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2005.csv')
cmdf2006 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2006.csv')
cmdf2007 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2007.csv')
cmdf2008 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2008.csv')
cmdf2009 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2009.csv')
cmdf2010 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2010.csv')
cmdf2011 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2011.csv')
cmdf2012 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2012.csv')
cmdf2013 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2013.csv')
cmdf2014 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2014.csv')
cmdf2015 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2015.csv')
cmdf2016 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2016.csv')
cmdf2017 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2017.csv')
cmdf2018 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2018.csv', encoding='latin1')
cmdf2019 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2019.csv')
cmdf2021 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2021.csv')
cmdf2022 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2022.csv')
cmdf2023 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2023.csv')

In [5]:
cmdf2000 = cmdf2000.drop(0)

In [6]:
all_dfs = [(cmdf2000, 2000),
           (cmdf2001, 2001),
           (cmdf2002, 2002),
           (cmdf2003, 2003),
           (cmdf2004, 2004),
           (cmdf2005, 2005),
           (cmdf2006, 2006),
           (cmdf2007, 2007),
           (cmdf2008, 2008),
           (cmdf2009, 2009),
           (cmdf2010, 2010),
           (cmdf2011, 2011),
           (cmdf2012, 2012),
           (cmdf2013, 2013),
           (cmdf2014, 2014),
           (cmdf2015, 2015),
           (cmdf2016, 2016),
           (cmdf2017, 2017),
           (cmdf2018, 2018),
           (cmdf2019, 2019),
           (cmdf2021, 2021),
           (cmdf2022, 2022),
           (cmdf2023, 2023)]

In [8]:
for df, year in all_dfs:
    df['Year'] = year

    df[['Gender', 'Age']] = df['Last Name, First Name'].str.extract(r'\(([MF])(\d*)\)')
    df['Age'] = df['Age'].replace('', np.nan)
    df['Last Name, First Name'] = df['Last Name, First Name'].str.replace(r'\s*\([MF]\d*\)', '', regex=True)

In [9]:
cmdf2000.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Net Time,"City, State, Country",Year,Gender,Age
1,Khalid Khannouchi,2:07:01,1.0,1 / 1,M25-29,2:07:01,USA,2000,M,28
2,Josephat Kiprono,2:07:29,2.0,2 / 2,M25-29,2:07:29,Kenya,2000,M,26
3,Moses Tanui,2:07:47,3.0,3 / 1,M35-39,2:07:47,Kenya,2000,M,35
4,Peter Githuka,2:08:02,4.0,4 / 1,M30-34,2:08:02,Kenya,2000,M,31
5,Fred Kiprop,2:08:23,5.0,5 / 3,M25-29,2:08:23,Kenya,2000,M,26

In [11]:
for df in all_dfs:
  print(df)

(    Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
1       Khalid Khannouchi  2:07:01      1.0     1 / 1  M25-29  2:07:01
2        Josephat Kiprono  2:07:29      2.0     2 / 2  M25-29  2:07:29
3             Moses Tanui  2:07:47      3.0     3 / 1  M35-39  2:07:47
4           Peter Githuka  2:08:02      4.0     4 / 1  M30-34  2:08:02
5             Fred Kiprop  2:08:23      5.0     5 / 3  M25-29  2:08:23
..                    ...      ...      ...       ...     ...      ...
96           Vargas Pedro  2:38:24     96.0    87 / 3  M40-44  2:36:52
97            David Baker  2:36:58     97.0   88 / 10  M20-24  2:36:55
98             Herve Rons  2:37:10     98.0   89 / 37  M25-29  2:36:56
99           Paul Diekema  2:37:04     99.0   90 / 28  M30-34  2:37:01
100      Robert Macdonald  2:37:20    100.0    91 / 8  M35-39  2:37:12

         City, State, Country  Year Gender Age
1                         USA  2000      M  28
2                       Kenya  2000      M  26
3                       Kenya  2000      M  35
4                       Kenya  2000      M  31
5                       Kenya  2000      M  26
..                        ...   ...    ...  ..
96    Querétaro, Qro., Mexico  2000      M  42
97   West Des Moines, IA, USA  2000      M  23
98             Vittel, France  2000      M  27
99      Grand Rapids, MI, USA  2000      M  34
100          Chicago, IL, USA  2000      M  39

[100 rows x 10 columns], 2000)
(   Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0           Ben Kimondiu  2:08:52        1     1 / 1  M20-24  2:08:52
1            Paul Tergat  2:08:56        2     2 / 1  M30-34  2:08:56
2          Peter Githuka  2:09:00        3     3 / 2  M30-34  2:09:00
3         Mohamed Ouaadi  2:09:26        4     4 / 3  M30-34  2:09:26
4       Noriaki Igarashi  2:09:35        5     5 / 1  M25-29  2:09:35
..                   ...      ...      ...       ...     ...      ...
92         Terry Gendron  2:37:07       96   89 / 13  M35-39  2:36:59
93        John Mac Mahon  2:37:12       97   90 / 31  M30-34  2:37:00
94     Brian Casselberry  2:37:11       98   91 / 31  M25-29  2:37:03
95           David Sutej  2:37:16       99   92 / 32  M30-34  2:37:14
96            Jerry Lack  2:37:25      100   93 / 14  M35-39  2:37:18

       City, State, Country  Year Gender Age
0                     Kenya  2001      M  23
1                     Kenya  2001      M  32
2                     Kenya  2001      M  32
3                       PRA  2001      M  31
4                     Japan  2001      M  28
..                      ...   ...    ...  ..
92       Davenport, IA, USA  2001      M  35
93          Sevres, Ireland  2001      M  33
94  Sagamore Hills, OH, USA  2001      M  28
95           Omaha, NE, USA  2001      M  33
96     East Moline, IL, USA  2001      M  38

[97 rows x 10 columns], 2001)
(     Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0        Khalid Khannouchi  2:05:56        1     1 / 1  M30-34  2:05:56
1            Daniel Njenga  2:06:16        2     2 / 1  M25-29  2:06:16
2        Toshinari Takaoka  2:06:16        3     3 / 2  M30-34  2:06:16
3              Paul Tergat  2:06:18        4     4 / 3  M30-34  2:06:18
4   Abdelkhader El Mouaziz  2:06:46        5     5 / 4  M30-34  2:06:46
..                     ...      ...      ...       ...     ...      ...
91            Jake Johnson  2:31:12       96   89 / 37  M25-29  2:30:25
92            James Hommes  2:30:43       97   90 / 31  M30-34  2:30:32
93         Michael McGrane  2:30:46       98   91 / 32  M30-34  2:30:38
94             Tim Geldean  2:30:50       99   92 / 33  M30-34  2:30:49
95         Craig Vanderoef  2:30:56      100   93 / 38  M25-29  2:30:52

          City, State  Year Gender Age
0                 NaN  2002      M  30
1                 NaN  2002      M  26
2                 NaN  2002      M  32
3                 NaN  2002      M  33
4                 NaN  2002      M  33
..                ...   ...    ...  ..
91        Atlanta, GA  2002      M  25
92     Pittsburgh, PA  2002      M  31
93  Newton Centre, MA  2002      M  32
94           Erie, CO  2002      M  33
95    Aliso Viejo, CA  2002      M  27

[96 rows x 10 columns], 2002)
(    Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0             Evans Rutto  2:05:50        1     1 / 1  M25-29  2:05:50
1              Paul Koech  2:07:07        2     2 / 1  M30-34  2:07:07
2           Daniel Njenga  2:07:41        3     3 / 2  M25-29  2:07:41
3            Jimmy Muindi  2:08:57        5     5 / 2  M30-34  2:08:57
4   Abdelkader El Mouaziz  2:09:38        6     6 / 3  M30-34  2:09:38
..                    ...      ...      ...       ...     ...      ...
92           Mark Hamiter  2:29:15       96   86 / 43  M25-29  2:29:08
93         James Hamilton  2:29:12       97   87 / 22  M30-34  2:29:10
94         Klaus Eckstein  2:29:16       98   88 / 10  M35-39  2:29:11
95        Elliott Frieder  2:29:18       99   89 / 23  M30-34  2:29:12
96               Rob Zand  2:29:29      100   90 / 24  M30-34  2:29:22

      City, State, Country  Year Gender Age
0                    Kenya  2003      M  25
1                    Kenya  2003      M  34
2                    Kenya  2003      M  27
3                    Kenya  2003      M  30
4                  Morocco  2003      M  34
..                     ...   ...    ...  ..
92  Plain Dealing, LA, USA  2003      M  28
93      Aliquippa, PA, USA  2003      M  34
94       Nordhorn, Germany  2003      M  36
95     Bloomfield, NJ, USA  2003      M  32
96       New York, NY, USA  2003      M  33

[97 rows x 10 columns], 2003)
(   Last Name, First Name  OverAll Sex Place     DIV Net Time  \
0            EVANS RUTTO        1     1 / 1  M25-29  2:06:16
1          DANIEL NJENGA        2     2 / 2  M25-29  2:07:44
2      TOSHINARI TAKAOKA        3     3 / 1  M30-34  2:07:50
3           JIMMY MUINDI        4     4 / 2  M30-34  2:08:27
4      KHALID KHANNOUCHI        5     5 / 3  M30-34  2:08:44
..                   ...      ...       ...     ...      ...
94     STEFAN KALINOWSKI       96   84 / 11  M35-39  2:36:27
95          STEVEN MAVES       97    85 / 7  M40-44  2:36:30
96           WILL HARLAN       98   86 / 37  M25-29  2:36:35
97            ANDY DERKS       99   87 / 12  M20-24  2:36:50
98    NICHOLAS WILKINSON      100   88 / 38  M25-29  2:36:59

         City, State  Year Gender Age
0        CONCORD, MA  2004      M  26
1        BOULDER, CO  2004      M  28
2        BOULDER, CO  2004      M  34
3          TAMPA, FL  2004      M  31
4       OSSINING, NY  2004      M  32
..               ...   ...    ...  ..
94  JASTRZEBIE ZDROJ  2004      M  37
95       FISHERS, IN  2004      M  44
96     ASHEVILLE, NC  2004      M  29
97  SAINT JOSEPH, IL  2004      M  24
98   CHATTANOOGA, TN  2004      M  26

[99 rows x 9 columns], 2004)
(   Last Name, First Name     Time  OverAll  Sex Place Net Time  \
0             FELIX LIMO  2:07:02        1          1  2:07:02
1         BENJAMIN MAIYO  2:07:09        2          2  2:07:09
2          DANIEL NJENGA  2:07:14        3          3  2:07:14
3            EVANS RUTTO  2:07:28        4          4  2:07:28
4          PATRICK IVUTI  2:07:46        5          5  2:07:46
..                   ...      ...      ...        ...      ...
95       #VALUE! #VALUE!  2:35:59       96         87  2:35:56
96          THOMAS CLARK  2:36:01       97         88  2:35:57
97          MARK BOLSTER  2:36:15       98         89  2:36:06
98       VICTOR FLEMMING  2:36:29       99         90  2:36:21
99         MARCUS MURPHY  2:36:30      100         91  2:36:21

          City, State  Year Gender Age
0            NIJMEGAN  2005      M  25
1         CONCORD, MA  2005      M  27
2         BOULDER, CO  2005      M  29
3         CONCORD, MA  2005      M  27
4   CLUSANE D'ISEO BS  2005      M  27
..                ...   ...    ...  ..
95         WEST PERTH  2005      M  31
96       WAUKESHA, WI  2005      M  28
97    MANTORVILLE, MN  2005      M  27
98     SMITHFIELD, VA  2005      M  26
99        DUBUQUE, IA  2005      M  24

[100 rows x 9 columns], 2005)
(        Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0   Robert Kipkoech Cheruiyot  2:07:35        1     1 / 1  M25-29  2:07:35
1               Daniel Njenga  2:07:40        2     2 / 1  M30-34  2:07:40
2                Jimmy Muindi  2:07:51        3     3 / 2  M30-34  2:07:51
3             Abdi Abdirahman  2:08:56        4     4 / 2  M25-29  2:08:56
4             Robert Cheboror  2:09:25        5     5 / 3  M25-29  2:09:25
..                        ...      ...      ...       ...     ...      ...
95                 Hans Otten  2:26:36       96   89 / 50  M25-29  2:26:36
96              David Jackson  2:26:40       97   90 / 20  M30-34  2:26:40
97               Bill Hoffman  2:26:42       98   91 / 51  M25-29  2:26:42
98                 Matt Smith  2:26:45       99   92 / 21  M30-34  2:26:45
99             Calvin Staples  2:26:49      100   93 / 52  M25-29  2:26:49

   City, State, Country  Year Gender Age
0                 KENYA  2006      M  28
1                 KENYA  2006      M  30
2                 KENYA  2006      M  33
3                   USA  2006      M  29
4                 KENYA  2006      M  28
..                  ...   ...    ...  ..
95   Shoreline, WA, USA  2006      M  28
96     Victoria, CANADA  2006      M  30
97   Eatontown, NJ, USA  2006      M  26
98     Holland, MI, USA  2006      M  32
99     Waterloo, CANADA  2006      M  29

[100 rows x 10 columns], 2006)
(   Last Name, First Name     Time  OverAll  Sex Place Net Time  \
0          Patrick Ivuti  2:11:11        1          1  2:11:11
1          Jaouad Gharib  2:11:11        2          2  2:11:11
2          Daniel Njenga  2:12:45        3          3  2:12:45
3    Robert K. Cheruiyot  2:16:13        4          4  2:16:13
4              Ben Maiyo  2:16:59        5          5  2:16:59
..                   ...      ...      ...        ...      ...
95        Chris Benestad  2:47:49       96         87  2:47:38
96          Jameson Mora  2:47:40       97         88  2:47:40
97            Brad Jones  2:48:18       98         89  2:47:45
98         Rob Chenoweth  2:48:08       99         90  2:47:49
99             Jef Scott  2:47:57      100         91  2:47:57

        City, State, Country AG Time*  Year Gender Age
0                        KEN  2:11:11  2007      M  29
1                        MAR  2:11:11  2007      M  35
2                        KEN  2:12:45  2007      M  31
3                        KEN  2:16:13  2007      M  29
4                        KEN  2:16:59  2007      M  29
..                       ...      ...   ...    ...  ..
95     Northborough, MA, USA  2:47:38  2007      M  30
96  San Luis Obisbo, CA, USA  2:47:40  2007      M  23
97         Columbia, MO, USA  2:47:45  2007      M  29
98          Chicago, IL, USA  2:46:18  2007      M  38
99    Bowling Green, KY, USA  2:47:57  2007      M  35

[100 rows x 10 columns], 2007)
(   Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0        Evans Cheruiyot  2:06:25        1     1 / 1  M25-29  2:06:25
1          David Mandago  2:07:37        2     2 / 1  M30-34  2:07:37
2       Timothy Cherigat  2:11:39        3     3 / 2  M30-34  2:11:39
3           Wesley Korir  2:13:53        4     4 / 2  M25-29  2:13:53
4          Martin Lauret  2:15:10        5     5 / 1  M35-39  2:15:10
..                   ...      ...      ...       ...     ...      ...
95    Katsushi Fuchiwaki  2:39:40       96    82 / 9  M35-39  2:39:40
96          Aaron Hoover  2:39:43       97   83 / 27  M25-29  2:39:40
97       Richard Chapman  2:40:06       98   84 / 18  M20-24  2:39:42
98            Jason Ream  2:39:58       99   85 / 28  M25-29  2:39:47
99             Lars Juhl  2:40:07      100   86 / 25  M30-34  2:40:05

   City, State, Country AG Time*  Year Gender Age
0                   KEN  2:06:25  2008      M  26
1                   KEN  2:07:37  2008      M  30
2                   KEN  2:11:39  2008      M  31
3   Louisville, KY, KEN  2:13:53  2008      M  25
4                   NED  2:15:01  2008      M  36
..                  ...      ...   ...    ...  ..
95         Fukuoka, Jap  2:39:30  2008      M  36
96     Boulder, CO, USA  2:39:40  2008      M  26
97    Portland, OR, USA  2:38:58  2008      M  21
98     Chicago, IL, USA  2:39:47  2008      M  26
99     Chicago, IL, USA  2:40:05  2008      M  31

[100 rows x 11 columns], 2008)
(   Last Name, First Name     Time  OverAll Sex Place     DIV Net Time Country  \
0          Sammy Wanjiru  2:05:41        1     1 / 1  M20-24  2:05:41     KEN
1      Abderrahim Goumri  2:06:04        2     2 / 1  M30-34  2:06:04     MAR
2        Vincent Kipruto  2:06:08        3     3 / 2  M20-24  2:06:08     KEN
3        Charles Munyeki  2:07:06        4     4 / 3  M20-24  2:07:06     KEN
4           Richard Limo  2:08:43        5     5 / 1  M25-29  2:08:43     KEN
..                   ...      ...      ...       ...     ...      ...     ...
95      Michel L Jacques  2:32:28       96   89 / 47  M25-29  2:32:26     USA
96        Mark A Wehrman  2:32:36       97   90 / 17  M20-24  2:32:31     USA
97       Ben J Schneider  2:32:40       98   91 / 48  M25-29  2:32:33     USA
98   Simon Pierre Landry  2:32:38       99   92 / 18  M20-24  2:32:37     CAN
99     Timothy F Willcox  2:32:44      100   93 / 16  M30-34  2:32:42     USA

   AG Time*  Year Gender Age
0   2:05:37  2009      M  22
1   2:06:04  2009      M  33
2   2:06:04  2009      M  22
3   2:07:06  2009      M  23
4   2:08:43  2009      M  28
..      ...   ...    ...  ..
95  2:32:26  2009      M  26
96  2:32:31  2009      M  23
97  2:32:33  2009      M  25
98  2:32:37  2009      M  23
99  2:32:42  2009      M  31

[100 rows x 11 columns], 2009)
(   Last Name, First Name     Time  OverAll Sex Place     DIV Country AG Time*  \
0          Sammy Wanjiru  2:06:24        1     1 / 1  M20-24     KEN  2:06:24
1         Tsegaye Kebede  2:06:43        2     2 / 2  M20-24     ETH  2:06:43
2          Feyisa Lilesa  2:08:10        3     3 / 3  M20-24     ETH  2:06:33
3           Wesley Korir  2:08:44        4     4 / 1  M25-29     KEN  2:08:44
4        Vincent Kipruto  2:09:08        5     5 / 4  M20-24     ETH  2:09:08
..                   ...      ...      ...       ...     ...     ...      ...
95            Brian Deal  2:32:08       96   86 / 36  M25-29     USA  2:32:08
96       Brent Schneider  2:32:13       97   87 / 37  M25-29     USA  2:32:13
97            Rob Kosick  2:32:15       98   88 / 16  M30-34     USA  2:32:15
98        Fiona Docherty  2:32:17       99    11 / 4  F35-39     NZL  2:30:08
99   Askale Tafa Magarsa  2:32:24      100    12 / 5  F25-29     ETH  2:32:24

    Year Gender Age
0   2010      M  23
1   2010      M  23
2   2010      M  20
3   2010      M  27
4   2010      M  23
..   ...    ...  ..
95  2010      M  25
96  2010      M  28
97  2010      M  32
98  2010      F  35
99  2010      F  26

[100 rows x 10 columns], 2010)
(   Last Name, First Name     Time  OverAll Sex Place     DIV  \
0            Moses Mosop  2:05:37        1     1 / 1  M25-29
1           Wesley Korir  2:06:15        2     2 / 2  M25-29
2        Bernard Kipyego  2:06:29        3     3 / 3  M25-29
3            Bekana Daba  2:07:59        4     4 / 1  M20-24
4              Ryan Hall  2:08:04        5     5 / 4  M25-29
..                   ...      ...      ...       ...     ...
95       Richard Heffron  2:32:50       96   90 / 38  M25-29
96         Vince Bechard  2:32:51       97   91 / 12  M20-24
97              Yue Chao  2:32:57       98     7 / 2  F20-24
98          Ramin Razavi  2:33:07       99   92 / 27  M30-34
99            Dave Lyons  2:33:08      100   93 / 39  M25-29

   City, State, Country AG Time*  Year Gender Age
0                   KEN  2:05:37  2011      M  26
1                   KEN  2:06:15  2011      M  28
2                   KEN  2:06:29  2011      M  25
3                   ETH  2:07:59  2011      M  23
4                   USA  2:08:04  2011      M  28
..                  ...      ...   ...    ...  ..
95     Chicago, IL, USA  2:32:50  2011      M  28
96    Dearborn, MI, USA  2:32:51  2011      M  23
97                  CHN  2:32:50  2011      F  20
98     Boulder, CO, USA  2:33:07  2011      M  33
99    Portland, OR, USA  2:33:08  2011      M  28

[100 rows x 10 columns], 2011)
(   Last Name, First Name     Time  OverAll Sex Place     DIV  \
0         Tsegaye Kebede  2:04:38        1     1 / 1  M25-29
1          Feyisa Lilesa  2:04:52        2     2 / 1  M20-24
2        Tilahun Regassa  2:05:27        3     3 / 2  M20-24
3          Sammy Kitwara  2:05:54        4     4 / 2  M25-29
4           Wesley Korir  2:06:13        5     5 / 3  M25-29
..                   ...      ...      ...       ...     ...
95        Heleno Ribeiro  2:33:50       96    86 / 8  M35-39
96          Joshua Korth  2:34:21       97   87 / 16  M20-24
97           Brian Scott  2:34:32       98   88 / 13  M30-34
98        Adrian Canossa  2:34:34       99    89 / 9  M35-39
99             Mike Roth  2:34:35      100   90 / 17  M20-24

       City, State, Country AG Time*  Year Gender Age
0                       ETH  2:04:38  2012      M  25
1                       ETH  2:04:48  2012      M  22
2                       ETH  2:05:23  2012      M  22
3                       KEN  2:05:54  2012      M  25
4                       KEN  2:06:13  2012      M  29
..                      ...      ...   ...    ...  ..
95      Belo Horizonte, BRA  2:31:22  2012      M  39
96        New York, NY, USA  2:34:21  2012      M  24
97      Naperville, IL, USA  2:34:32  2012      M  34
98  San Jose, SAN JOSE, CRI  2:33:10  2012      M  38
99    Grand Rapids, MI, USA  2:34:35  2012      M  24

[100 rows x 10 columns], 2012)
(   Last Name, First Name     Time  OverAll Sex Place     DIV  \
0         Dennis Kimetto  2:03:45        1     1 / 1  M25-29
1         Emannuel Mutai  2:03:52        2     2 / 2  M25-29
2          Sammy Kitwara  2:05:16        3     3 / 3  M25-29
3             Micah Kogo  2:06:56        4     4 / 4  M25-29
4      Dathan Ritzenhein  2:09:45        5     5 / 1  M30-34
..                   ...      ...      ...       ...     ...
95         Jerome Recker  2:32:54       96   86 / 24  M30-34
96         Wesley Turner  2:32:58       97   87 / 37  M25-29
97            Tim Clarke  2:33:18       98   88 / 25  M30-34
98              Jake Moe  2:33:25       99   89 / 38  M25-29
99     Stewart Ellington  2:33:38      100   90 / 13  M35-39

   City, State, Country AG Time*  Year Gender Age
0                   KEN  2:03:45  2013      M  29
1                   KEN  2:03:52  2013      M  28
2                   KEN  2:05:16  2013      M  26
3                   KEN  2:06:56  2013      M  27
4                   USA  2:09:45  2013      M  30
..                  ...      ...   ...    ...  ..
95     Lansing, MI, USA  2:32:54  2013      M  30
96        Erie, PA, USA  2:32:58  2013      M  27
97        Richmond, AUS  2:33:18  2013      M  31
98   Anchorage, AK, USA  2:33:25  2013      M  29
99   Knoxville, TN, USA  2:31:10  2013      M  39

[100 rows x 10 columns], 2013)
(   Last Name, First Name     Time  OverAll Sex Place     DIV  \
0         Eliud Kipchoge  2:04:11        1     1 / 1  M25-29
1          Sammy Kitwara  2:04:28        2     2 / 2  M25-29
2         Dickson Chumba  2:04:32        3     3 / 3  M25-29
3        Kenenisa Bekele  2:05:51        4     4 / 1  M30-34
4          Bernard Koech  2:08:30        5     5 / 1  M25-29
..                   ...      ...      ...       ...     ...
95       Matthew Chorney  2:31:58       96    91 / 2  M25-29
96       Nathan Troester  2:31:59       97    92 / 1  M20-24
97           Brian Denny  2:32:06       98    93 / 1  M25-29
98         Ankur Tarneja  2:32:11       99    94 / 1  M30-34
99         Steve Soprano  2:32:12      100    95 / 1  M25-29

    City, State, Country AG Time*  Year Gender Age

In [36]:
cmdf2015.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,"City, State, Country",BQ*,Year,Gender,Age
0,(Sex/Age),NaN,<NA>,/,NaN,NaN,NaN,2015,NaN,NaN
1,NaN,NaN,<NA>,Div Place,NaN,NaN,NaN,2015,NaN,NaN
2,Dickson Chumba,2:09:25,1,1 / 1,M25-29,KEN,BQ,2015,M,NaN
3,Sammy Kitwara,2:09:50,2,2 / 2,M25-29,KEN,BQ,2015,M,NaN
4,Sammy Ndungu,2:10:06,3,3 / 3,M25-29,KEN,BQ,2015,M,NaN

In [29]:
for df, year in all_dfs:
  if 'AG Time*' in df.columns:
    df.drop('AG Time*', axis=1, inplace=True)

In [30]:
cmdf2000.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Net Time,"City, State, Country",Year,Gender,Age
1,Khalid Khannouchi,2:07:01,1.0,1 / 1,M25-29,2:07:01,USA,2000,M,28
2,Josephat Kiprono,2:07:29,2.0,2 / 2,M25-29,2:07:29,Kenya,2000,M,26
3,Moses Tanui,2:07:47,3.0,3 / 1,M35-39,2:07:47,Kenya,2000,M,35
4,Peter Githuka,2:08:02,4.0,4 / 1,M30-34,2:08:02,Kenya,2000,M,31
5,Fred Kiprop,2:08:23,5.0,5 / 3,M25-29,2:08:23,Kenya,2000,M,26

In [32]:
cmdf2001.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Net Time,"City, State, Country",Year,Gender,Age
0,Ben Kimondiu,2:08:52,1,1 / 1,M20-24,2:08:52,Kenya,2001,M,23
1,Paul Tergat,2:08:56,2,2 / 1,M30-34,2:08:56,Kenya,2001,M,32
2,Peter Githuka,2:09:00,3,3 / 2,M30-34,2:09:00,Kenya,2001,M,32
3,Mohamed Ouaadi,2:09:26,4,4 / 3,M30-34,2:09:26,PRA,2001,M,31
4,Noriaki Igarashi,2:09:35,5,5 / 1,M25-29,2:09:35,Japan,2001,M,28

In [34]:
for df, _ in all_dfs:
    df['OverAll'] = pd.to_numeric(df['OverAll'], errors='coerce').astype('Int64')

In [35]:
cmdf2000.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Net Time,"City, State, Country",Year,Gender,Age
1,Khalid Khannouchi,2:07:01,1,1 / 1,M25-29,2:07:01,USA,2000,M,28
2,Josephat Kiprono,2:07:29,2,2 / 2,M25-29,2:07:29,Kenya,2000,M,26
3,Moses Tanui,2:07:47,3,3 / 1,M35-39,2:07:47,Kenya,2000,M,35
4,Peter Githuka,2:08:02,4,4 / 1,M30-34,2:08:02,Kenya,2000,M,31
5,Fred Kiprop,2:08:23,5,5 / 3,M25-29,2:08:23,Kenya,2000,M,26

In [37]:
#apply df checker for columns:

check_col = 'DIV'

for df, year in all_dfs:
  if check_col not in df.columns:
    print(f"df for year {year} does not have the col")

df for year 2005 does not have the col
df for year 2007 does not have the col

In [38]:
cmdf2005.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,Net Time,"City, State",Year,Gender,Age
0,FELIX LIMO,2:07:02,1,1,2:07:02,NIJMEGAN,2005,M,25
1,BENJAMIN MAIYO,2:07:09,2,2,2:07:09,"CONCORD, MA",2005,M,27
2,DANIEL NJENGA,2:07:14,3,3,2:07:14,"BOULDER, CO",2005,M,29
3,EVANS RUTTO,2:07:28,4,4,2:07:28,"CONCORD, MA",2005,M,27
4,PATRICK IVUTI,2:07:46,5,5,2:07:46,CLUSANE D'ISEO BS,2005,M,27

In [39]:
cmdf2007.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,Net Time,"City, State, Country",Year,Gender,Age
0,Patrick Ivuti,2:11:11,1,1,2:11:11,KEN,2007,M,29
1,Jaouad Gharib,2:11:11,2,2,2:11:11,MAR,2007,M,35
2,Daniel Njenga,2:12:45,3,3,2:12:45,KEN,2007,M,31
3,Robert K. Cheruiyot,2:16:13,4,4,2:16:13,KEN,2007,M,29
4,Ben Maiyo,2:16:59,5,5,2:16:59,KEN,2007,M,29

In [40]:
#create DIV
age_brackets = {
    'M20-24': (20, 24),
    'M25-29': (25, 29),
    'M30-34': (30, 34),
    'M35-39': (35, 39),
    'M40-44': (40, 44),
    'M45-49': (45, 49),
    'M50-54': (50, 54),
    'M55-59': (55, 59),
    'F20-24': (20, 24),
    'F25-29': (25, 29),
    'F30-34': (30, 34),
    'F35-39': (35, 39),
    'F40-44': (40, 44),
    'F45-49': (45, 49),
    'F50-54': (50, 54),
    'F55-59': (55, 59),
}

In [45]:
def div_assign(age, gender):
  for div, (start_age, end_age) in age_brackets.items():
    if start_age <= age <= end_age and div.startswith(gender):
      return div
  return 'Unknown'

In [46]:
dfs_missing_div = [cmdf2005, cmdf2007]

for df in dfs_missing_div:
  df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
  df['DIV'] = df.apply(lambda row: div_assign(row['Age'], row['Gender']), axis=1)

In [48]:
cmdf2005

,"Last Name, First Name",Time,OverAll,Sex Place,Net Time,"City, State",Year,Gender,Age,DIV
0,FELIX LIMO,2:07:02,1,1,2:07:02,NIJMEGAN,2005,M,25,M25-29
1,BENJAMIN MAIYO,2:07:09,2,2,2:07:09,"CONCORD, MA",2005,M,27,M25-29
2,DANIEL NJENGA,2:07:14,3,3,2:07:14,"BOULDER, CO",2005,M,29,M25-29
3,EVANS RUTTO,2:07:28,4,4,2:07:28,"CONCORD, MA",2005,M,27,M25-29
4,PATRICK IVUTI,2:07:46,5,5,2:07:46,CLUSANE D'ISEO BS,2005,M,27,M25-29
...,...,...,...,...,...,...,...,...,...,...
95,#VALUE! #VALUE!,2:35:59,96,87,2:35:56,WEST PERTH,2005,M,31,M30-34
96,THOMAS CLARK,2:36:01,97,88,2:35:57,"WAUKESHA, WI",2005,M,28,M25-29
97,MARK BOLSTER,2:36:15,98,89,2:36:06,"MANTORVILLE, MN",2005,M,27,M25-29
98,VICTOR FLEMMING,2:36:29,99,90,2:36:21,"SMITHFIELD, VA",2005,M,26,M25-29
99,MARCUS MURPHY,2:36:30,100,91,2:36:21,"DUBUQUE, IA",2005,M,24,M20-24

In [50]:
cmdf2000

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Net Time,"City, State, Country",Year,Gender,Age
1,Khalid Khannouchi,2:07:01,1,1 / 1,M25-29,2:07:01,USA,2000,M,28
2,Josephat Kiprono,2:07:29,2,2 / 2,M25-29,2:07:29,Kenya,2000,M,26
3,Moses Tanui,2:07:47,3,3 / 1,M35-39,2:07:47,Kenya,2000,M,35
4,Peter Githuka,2:08:02,4,4 / 1,M30-34,2:08:02,Kenya,2000,M,31
5,Fred Kiprop,2:08:23,5,5 / 3,M25-29,2:08:23,Kenya,2000,M,26
...,...,...,...,...,...,...,...,...,...,...
96,Vargas Pedro,2:38:24,96,87 / 3,M40-44,2:36:52,"Querétaro, Qro., Mexico",2000,M,42
97,David Baker,2:36:58,97,88 / 10,M20-24,2:36:55,"West Des Moines, IA, USA",2000,M,23
98,Herve Rons,2:37:10,98,89 / 37,M25-29,2:36:56,"Vittel, France",2000,M,27
99,Paul Diekema,2:37:04,99,90 / 28,M30-34,2:37:01,"Grand Rapids, MI, USA",2000,M,34
100,Robert Macdonald,2:37:20,100,91 / 8,M35-39,2:37:12,"Chicago, IL, USA",2000,M,39

In [53]:
reference_columns = all_dfs[0][0].columns

all_match = True

for df, year in all_dfs:
    if not df.columns.equals(reference_columns):
        print(f"The columns of DataFrame for the year {year} do not match the reference.")
        all_match = False
        # Print which columns are missing or additional
        print("Missing columns:", set(reference_columns) - set(df.columns))
        print("Additional columns:", set(df.columns) - set(reference_columns))

if all_match:
    print("All DataFrames have the same columns.")

The columns of DataFrame for the year 2002 do not match the reference.
Missing columns: {'City, State, Country'}
Additional columns: {'City, State'}
The columns of DataFrame for the year 2004 do not match the reference.
Missing columns: {'City, State, Country', 'Time'}
Additional columns: {'City, State'}
The columns of DataFrame for the year 2005 do not match the reference.
Missing columns: {'City, State, Country'}
Additional columns: {'City, State'}
The columns of DataFrame for the year 2007 do not match the reference.
Missing columns: set()
Additional columns: set()
The columns of DataFrame for the year 2009 do not match the reference.
Missing columns: {'City, State, Country'}
Additional columns: {'Country'}
The columns of DataFrame for the year 2010 do not match the reference.
Missing columns: {'City, State, Country', 'Net Time'}
Additional columns: {'Country'}
The columns of DataFrame for the year 2011 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2012 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2013 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2014 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2015 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: {'BQ*'}
The columns of DataFrame for the year 2016 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2017 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2018 do not match the reference.
Missing columns: {'City, State, Country', 'Time'}
Additional columns: {'Country'}
The columns of DataFrame for the year 2019 do not match the reference.
Missing columns: {'City, State, Country', 'Time'}
Additional columns: {'Country'}
The columns of DataFrame for the year 2021 do not match the reference.
Missing columns: {'City, State, Country', 'Net Time'}
Additional columns: {'Country'}
The columns of DataFrame for the year 2022 do not match the reference.
Missing columns: {'City, State, Country', 'Net Time'}
Additional columns: {'Country'}
The columns of DataFrame for the year 2023 do not match the reference.
Missing columns: {'City, State, Country', 'Net Time'}
Additional columns: {'Country'}

In [56]:
cmdf2021.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Country,Year,Gender,Age
0,Seifu Tura Abdiwak,2:06:12,1,1 / 1,MElite20-24,Ethiopia,2021,M,NaN
1,Galen Rupp,2:06:35,2,2 / 1,MElite35-39,USA,2021,M,NaN
2,Eric Kiptanui,2:06:51,3,3 / 1,MElite30-34,Kenya,2021,M,NaN
3,Kengo Suzuki,2:08:50,4,4 / 1,MElite25-29,Japan,2021,M,NaN
4,Shifera Tamru Aredo,2:09:39,5,5 / 2,MElite20-24,Ethiopia,2021,M,NaN

In [61]:
for df, year in all_dfs:
    if 'City, State' in df.columns:
        df['City, State, Country'] = df['City, State']
        df.drop('City, State', axis=1, inplace=True)
    elif 'Country' in df.columns:
        df['City, State, Country'] = df['Country']
        df.drop('Country', axis=1, inplace=True)

In [62]:
cmdf2021.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Year,Gender,Age,"City, State, Country"
0,Seifu Tura Abdiwak,2:06:12,1,1 / 1,MElite20-24,2021,M,NaN,Ethiopia
1,Galen Rupp,2:06:35,2,2 / 1,MElite35-39,2021,M,NaN,USA
2,Eric Kiptanui,2:06:51,3,3 / 1,MElite30-34,2021,M,NaN,Kenya
3,Kengo Suzuki,2:08:50,4,4 / 1,MElite25-29,2021,M,NaN,Japan
4,Shifera Tamru Aredo,2:09:39,5,5 / 2,MElite20-24,2021,M,NaN,Ethiopia

In [63]:
for df, year in all_dfs:
    if not df.columns.equals(reference_columns):
        print(f"The columns of DataFrame for the year {year} do not match the reference.")
        all_match = False
        # Print which columns are missing or additional
        print("Missing columns:", set(reference_columns) - set(df.columns))
        print("Additional columns:", set(df.columns) - set(reference_columns))

if all_match:
    print("All DataFrames have the same columns.")

The columns of DataFrame for the year 2002 do not match the reference.
Missing columns: set()
Additional columns: set()
The columns of DataFrame for the year 2004 do not match the reference.
Missing columns: {'Time'}
Additional columns: set()
The columns of DataFrame for the year 2005 do not match the reference.
Missing columns: set()
Additional columns: set()
The columns of DataFrame for the year 2007 do not match the reference.
Missing columns: set()
Additional columns: set()
The columns of DataFrame for the year 2009 do not match the reference.
Missing columns: set()
Additional columns: set()
The columns of DataFrame for the year 2010 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2011 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2012 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2013 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2014 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2015 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: {'BQ*'}
The columns of DataFrame for the year 2016 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2017 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2018 do not match the reference.
Missing columns: {'Time'}
Additional columns: set()
The columns of DataFrame for the year 2019 do not match the reference.
Missing columns: {'Time'}
Additional columns: set()
The columns of DataFrame for the year 2021 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2022 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2023 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()

In [64]:
for df, year in all_dfs:
    if 'Time' in df.columns and 'Net Time' in df.columns:
        df.drop('Net Time', axis=1, inplace=True)
    elif 'Net Time' in df.columns:
        df.rename(columns={'Net Time': 'Time'}, inplace=True)

In [65]:
for df, year in all_dfs:
    if not df.columns.equals(reference_columns):
        print(f"The columns of DataFrame for the year {year} do not match the reference.")
        all_match = False
        # Print which columns are missing or additional
        print("Missing columns:", set(reference_columns) - set(df.columns))
        print("Additional columns:", set(df.columns) - set(reference_columns))

if all_match:
    print("All DataFrames have the same columns.")

The columns of DataFrame for the year 2000 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2001 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2002 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2003 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2004 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2005 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2006 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2007 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2008 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2009 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2010 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2011 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2012 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2013 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2014 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2015 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: {'BQ*'}
The columns of DataFrame for the year 2016 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2017 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2018 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2019 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2021 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2022 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()
The columns of DataFrame for the year 2023 do not match the reference.
Missing columns: {'Net Time'}
Additional columns: set()

In [68]:
dataframes = [df for df, year in all_dfs]

combined_df = pd.concat(dataframes, ignore_index=True)

In [69]:
combined_df

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,"City, State, Country",Year,Gender,Age,BQ*
0,Khalid Khannouchi,2:07:01,1,1 / 1,M25-29,USA,2000,M,28,NaN
1,Josephat Kiprono,2:07:29,2,2 / 2,M25-29,Kenya,2000,M,26,NaN
2,Moses Tanui,2:07:47,3,3 / 1,M35-39,Kenya,2000,M,35,NaN
3,Peter Githuka,2:08:02,4,4 / 1,M30-34,Kenya,2000,M,31,NaN
4,Fred Kiprop,2:08:23,5,5 / 3,M25-29,Kenya,2000,M,26,NaN
...,...,...,...,...,...,...,...,...,...,...
2286,David Hudson,2:26:14,96,82 / 6,M40-44,Great Britain,2023,M,NaN,NaN
2287,Aaron Sherf,2:26:20,97,83 / 31,M30-34,USA,2023,M,NaN,NaN
2288,Alex Gold,2:26:32,98,84 / 32,M25-29,USA,2023,M,NaN,NaN
2289,Ben Cole,2:26:32,99,85 / 5,M35-39,Great Britain,2023,M,NaN,NaN
2290,Jackson Lindquist,2:26:37,100,86 / 32,M30-34,USA,2023,M,NaN,NaN

In [72]:
combined_df

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,"City, State, Country",Year,Gender,Age
0,Khalid Khannouchi,2:07:01,1,1 / 1,M25-29,USA,2000,M,28
1,Josephat Kiprono,2:07:29,2,2 / 2,M25-29,Kenya,2000,M,26
2,Moses Tanui,2:07:47,3,3 / 1,M35-39,Kenya,2000,M,35
3,Peter Githuka,2:08:02,4,4 / 1,M30-34,Kenya,2000,M,31
4,Fred Kiprop,2:08:23,5,5 / 3,M25-29,Kenya,2000,M,26
...,...,...,...,...,...,...,...,...,...
2286,David Hudson,2:26:14,96,82 / 6,M40-44,Great Britain,2023,M,NaN
2287,Aaron Sherf,2:26:20,97,83 / 31,M30-34,USA,2023,M,NaN
2288,Alex Gold,2:26:32,98,84 / 32,M25-29,USA,2023,M,NaN
2289,Ben Cole,2:26:32,99,85 / 5,M35-39,Great Britain,2023,M,NaN
2290,Jackson Lindquist,2:26:37,100,86 / 32,M30-34,USA,2023,M,NaN

In [73]:
combined_df.to_csv('chicago_combined_marathon_data.csv', index=False)