<a href="https://colab.research.google.com/github/snwnkang/CS171_Final_vis_Marathon/blob/main/Data%20Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
from IPython.display import HTML
import html

In [ ]:
year = 2017

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/boston_data/Boston_Top_100.csv", error_bad_lines=False)

<ipython-input-2-9b77a33c786f>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/boston_data/Boston_Top_100.csv", error_bad_lines=False)

In [3]:
df.head(5)

,official_time,place_overall,net_time,contry_citizenship,display_name,gender,gender_result,division_result,year,division,...,5k,10k,15k,20k,half,25k,30k,35k,40k,projected_time
0,02:09:51,1,02:09:51,Kenya,Benson Kipruto,M,1.0,NaN,2021.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02:10:37,2,02:10:37,Ethiopia,Lemi Berhanu,M,2.0,NaN,2021.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02:10:38,3,02:10:38,Ethiopia,Jemal Yimer,M,3.0,NaN,2021.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02:10:47,4,02:10:47,Ethiopia,Tsedat Ayana,M,4.0,NaN,2021.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02:11:11,5,02:11:11,Kenya,Leonard Barsoton,M,5.0,NaN,2021.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
columns_to_keep = ['place_overall', 'bib', 'name', 'age', 'gender', 'country_residence', 'official_time', 'seconds', 'year']

# Drop all columns except the ones specified
df = df[columns_to_keep]

# Now boston2019 contains only the columns you want to keep
print(df.head())

  place_overall  bib name  age gender country_residence official_time  \
0             1  NaN  NaN  NaN      M               NaN      02:09:51
1             2  NaN  NaN  NaN      M               NaN      02:10:37
2             3  NaN  NaN  NaN      M               NaN      02:10:38
3             4  NaN  NaN  NaN      M               NaN      02:10:47
4             5  NaN  NaN  NaN      M               NaN      02:11:11

   seconds    year
0   7791.0  2021.0
1   7837.0  2021.0
2   7838.0  2021.0
3   7847.0  2021.0
4   7871.0  2021.0

In [5]:
df.head

<bound method NDFrame.head of      place_overall   bib                name   age gender country_residence  \
0                1   NaN                 NaN   NaN      M               NaN
1                2   NaN                 NaN   NaN      M               NaN
2                3   NaN                 NaN   NaN      M               NaN
3                4   NaN                 NaN   NaN      M               NaN
4                5   NaN                 NaN   NaN      M               NaN
...            ...   ...                 ...   ...    ...               ...
1795          1595  1502  Battaglia, Rebekah  26.0      F           United
1796          1611  8163   Jenkins, Madeline  26.0      F           United
1797          1659  3023     Lowry, Cristina  33.0      F           United
1798          1674  2977        Bowen, Grace  26.0      F           United
1799          1723  2440    Simonson, Danika  27.0      F           United

     official_time  seconds    year
0         02:09:51   7791.0  2021.0
1         02:10:37   7837.0  2021.0
2         02:10:38   7838.0  2021.0
3         02:10:47   7847.0  2021.0
4         02:11:11   7871.0  2021.0
...            ...      ...     ...
1795       2:54:25  10465.0  2019.0
1796       2:54:32  10472.0  2019.0
1797       2:54:49  10489.0  2019.0
1798       2:54:57  10497.0  2019.0
1799       2:55:23  10523.0  2019.0

[1800 rows x 9 columns]>

In [6]:
def categorize_age(age):
    if 18 <= age <= 19:
        return '18-19'
    elif 20 <= age <= 24:
        return '20-24'
    elif 25 <= age <= 29:
        return '25-29'
    elif 30 <= age <= 34:
        return '30-34'
    elif 35 <= age <= 39:
        return '35-39'
    elif 40 <= age <= 44:
        return '40-44'
    elif 45 <= age <= 49:
        return '45-49'
    elif 50 <= age <= 54:
        return '50-54'
    elif 55 <= age <= 59:
        return '55-59'
    elif 60 <= age <= 64:
        return '60-64'
    elif 65 <= age <= 69:
        return '65-69'
    else:
        return '70+'  # For all ages above 69

In [7]:
unique_ages = df['age'].unique()
unique_ages

array([nan, 34., 26., 32., 29., 28., 38., 31., 33., 30., 24., 37., 27.,
       36., 25., 35., 40., 43., 23., 22., 44., 42., 41., 39., 48., 21.,
       46., 20., 53., 45., 19., 56., 47., 50., 51., 57., 52., 49.])

In [ ]:
df = df[df['age'] != 'M']

In [9]:
df = df.dropna(subset=['age'])

In [8]:
df['age'] = df['age'].astype(int)

IntCastingNaNError: ignored

In [11]:
df['Division'] = df['age'].apply(categorize_age)
df

<ipython-input-11-1eac26ee2d88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Division'] = df['age'].apply(categorize_age)

,place_overall,bib,name,age,gender,country_residence,official_time,seconds,year,Division
200,1,NaN,NaN,34,M,NaN,02:05:54,7554.0,2023.0,30-34
201,2,NaN,NaN,26,M,NaN,02:06:04,7564.0,2023.0,25-29
202,3,NaN,NaN,32,M,NaN,02:06:06,7566.0,2023.0,30-34
203,4,NaN,NaN,29,M,NaN,02:08:01,7681.0,2023.0,25-29
204,5,NaN,NaN,28,M,NaN,02:08:35,7715.0,2023.0,25-29
...,...,...,...,...,...,...,...,...,...,...
1795,1595,1502,"Battaglia, Rebekah",26,F,United,2:54:25,10465.0,2019.0,25-29
1796,1611,8163,"Jenkins, Madeline",26,F,United,2:54:32,10472.0,2019.0,25-29
1797,1659,3023,"Lowry, Cristina",33,F,United,2:54:49,10489.0,2019.0,30-34
1798,1674,2977,"Bowen, Grace",26,F,United,2:54:57,10497.0,2019.0,25-29
1799,1723,2440,"Simonson, Danika",27,F,United,2:55:23,10523.0,2019.0,25-29

In [12]:
df

,place_overall,bib,name,age,gender,country_residence,official_time,seconds,year,Division
200,1,NaN,NaN,34,M,NaN,02:05:54,7554.0,2023.0,30-34
201,2,NaN,NaN,26,M,NaN,02:06:04,7564.0,2023.0,25-29
202,3,NaN,NaN,32,M,NaN,02:06:06,7566.0,2023.0,30-34
203,4,NaN,NaN,29,M,NaN,02:08:01,7681.0,2023.0,25-29
204,5,NaN,NaN,28,M,NaN,02:08:35,7715.0,2023.0,25-29
...,...,...,...,...,...,...,...,...,...,...
1795,1595,1502,"Battaglia, Rebekah",26,F,United,2:54:25,10465.0,2019.0,25-29
1796,1611,8163,"Jenkins, Madeline",26,F,United,2:54:32,10472.0,2019.0,25-29
1797,1659,3023,"Lowry, Cristina",33,F,United,2:54:49,10489.0,2019.0,30-34
1798,1674,2977,"Bowen, Grace",26,F,United,2:54:57,10497.0,2019.0,25-29
1799,1723,2440,"Simonson, Danika",27,F,United,2:55:23,10523.0,2019.0,25-29

In [13]:
# def split_names(name):
#     # Split the name at the comma
#     parts = name.split(',')
#     # The first part is the last name, the second part is the first name
#     last_name = parts[0].strip()
#     first_name = parts[1].strip() if len(parts) > 1 else ''
#     return last_name, first_name

# # Apply the function to the 'name' column and create new columns for the split names
# df[['Last Name', 'First Name']] = df['name'].apply(
#     lambda x: pd.Series(split_names(x), index=['Last Name', 'First Name'])
# )

# # Display the DataFrame to verify the changes
# df[['name', 'Last Name', 'First Name']].head()

AttributeError: ignored

In [14]:
def split_names(name):
    if pd.isna(name):
        return "", ""  # Return empty strings for both last and first names if the input is NaN
    parts = name.split(',')
    last_name = parts[0].strip()
    first_name = parts[1].strip() if len(parts) > 1 else ''
    return last_name, first_name

# Apply the function to the 'name' column, while handling NaN values
df[['Last Name', 'First Name']] = df['name'].apply(
    lambda x: pd.Series(split_names(x), index=['Last Name', 'First Name'])
)

# Now the DataFrame df will have 'Last Name' and 'First Name' columns filled only for non-NaN 'name' entries
df[['name', 'Last Name', 'First Name']].head()

<ipython-input-14-1083d8f0680b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Last Name', 'First Name']] = df['name'].apply(
<ipython-input-14-1083d8f0680b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Last Name', 'First Name']] = df['name'].apply(

    name Last Name First Name
200  NaN
201  NaN
202  NaN
203  NaN
204  NaN

In [15]:
df

,place_overall,bib,name,age,gender,country_residence,official_time,seconds,year,Division,Last Name,First Name
200,1,NaN,NaN,34,M,NaN,02:05:54,7554.0,2023.0,30-34,,
201,2,NaN,NaN,26,M,NaN,02:06:04,7564.0,2023.0,25-29,,
202,3,NaN,NaN,32,M,NaN,02:06:06,7566.0,2023.0,30-34,,
203,4,NaN,NaN,29,M,NaN,02:08:01,7681.0,2023.0,25-29,,
204,5,NaN,NaN,28,M,NaN,02:08:35,7715.0,2023.0,25-29,,
...,...,...,...,...,...,...,...,...,...,...,...,...
1795,1595,1502,"Battaglia, Rebekah",26,F,United,2:54:25,10465.0,2019.0,25-29,Battaglia,Rebekah
1796,1611,8163,"Jenkins, Madeline",26,F,United,2:54:32,10472.0,2019.0,25-29,Jenkins,Madeline
1797,1659,3023,"Lowry, Cristina",33,F,United,2:54:49,10489.0,2019.0,30-34,Lowry,Cristina
1798,1674,2977,"Bowen, Grace",26,F,United,2:54:57,10497.0,2019.0,25-29,Bowen,Grace
1799,1723,2440,"Simonson, Danika",27,F,United,2:55:23,10523.0,2019.0,25-29,Simonson,Danika

In [ ]:
# df['Year'] = year

In [16]:
df['year'] = df['year'].astype('Int64')

<ipython-input-16-5800715f0d57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].astype('Int64')

In [17]:
rename_columns = {
    'place_overall': 'Overall Place',
    'bib': 'BIB',
    'country_residence': 'Country',
    'gender': 'Gender',
    'official_time': 'Time',
    'seconds': 'Seconds',
    'year': 'Year'
}

df.rename(columns=rename_columns, inplace=True)

<ipython-input-17-58dfb1411052>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=rename_columns, inplace=True)

In [18]:
new_column_order = [
    'Last Name', 'First Name', 'Division', 'Country', 'BIB', 'Overall Place',
    'Time', 'Seconds', 'Year', 'Gender'
]

df = df[new_column_order]

In [19]:
unique_country = df['Country'].unique()
unique_country

array([nan, 'ETH', 'KEN', 'USA', 'UKR', 'RSA', 'ITA', 'RUS', 'JPN', 'CAN',
       'BEL', 'NZL', 'AUS', 'NED', 'ZIM', 'UGA', 'BRA', 'ESP', 'MEX',
       'IRL', 'GBR', 'GER', 'Japan', 'Kenya', 'United ', 'Netherl',
       'Canada', 'Ethiopi', 'Morocco', 'Mexico', 'Austral', 'Germany',
       'China', 'Dominic', 'Israel', 'Argenti', 'BLR', 'CRO', 'CHN',
       'COL', 'NOR', 'LAT', 'PHI', 'BRN', 'BDI', 'Switzer', 'Hungary',
       'Czech R', 'France', 'Denmark', 'Ireland', 'Chile', 'Peru'],
      dtype=object)

In [20]:
country_codes = {
    'Kenya': 'KEN', 'Ethiopi': 'ETH', 'United ': 'USA', 'Japan': 'JPN',
    'Morocco': 'MAR', 'Mexico': 'MEX', 'Canada': 'CAN', 'Austral': 'AUS',
    'Germany': 'DEU', 'China': 'CHN', 'Dominic': 'DMA', 'Israel': 'ISR',
    'Argenti': 'ARG', 'Ireland': 'IRL', 'Brazil': 'BRA', 'Turkey': 'TUR',
    'Austria': 'AUT', 'Peru': 'PER', 'France': 'FRA', 'Chile': 'CHL',
    'Switzer': 'CHE', 'Denmark': 'DNK', 'Norway': 'NOR', 'Finland': 'FIN',
    'Portuga': 'PRT', 'Sweden': 'SWE', 'Latvia': 'LVA', 'Colombi': 'COL',
    'Bermuda': 'BMU', 'Belgium': 'BEL', 'Hong Ko': 'HKG', 'Ecuador': 'ECU',
    'Italy': 'ITA', 'Costa R': 'CRI', 'Taiwan': 'TWN', 'Estonia': 'EST',
    'Spain': 'ESP', 'Palesti': 'PSE', 'Venezue': 'VEN', 'Czech R': 'CZE',
    'Netherl': 'NLD', 'Russian': 'RUS', 'India': 'IND', 'South A': 'ZAF',
    'Singapo': 'SGP', 'Poland': 'POL', 'Luxembo': 'LUX', 'Hungary': 'HUN',
    'Guatema': 'GTM', 'Lithuan': 'LTU', 'Ukraine': 'UKR', 'Belarus': 'BLR',
    'Sloveni': 'SVN', 'Korea, ': 'KOR', 'New Zea': 'NZL', 'Puerto ': 'PRI',
    'Macao': 'MAC', 'Armenia': 'ARM', 'El Salv': 'SLV', 'Thailan': 'THA',
    'Nepal': 'NPL', 'Philipp': 'PHL', 'Slovaki': 'SVK', 'Vietnam': 'VNM',
    'Faroe I': 'FRO', 'Panama': 'PAN', 'Andorra': 'AND', 'Hondura': 'HND',
    'Uruguay': 'URY', 'Malaysi': 'MYS', 'Iceland': 'ISL', 'Monaco': 'MCO',
    'Indones': 'IDN', 'Trinida': 'TTO', 'Algeria': 'DZA', 'Cyprus': 'CYP',
    'Greece': 'GRC', 'Cayman ': 'CYM', 'Moldova': 'MDA', 'Romania': 'ROU',
    'Serbia ': 'SRB', 'Croatia': 'HRV', 'Belize': 'BLZ', 'Saudi A': 'SAU',
    'Malta': 'MLT', 'Kuwait': 'KWT', 'Bolivia': 'BOL', 'Barbado': 'BRB',
    'Martini': 'MTQ', 'Aruba': 'ABW', 'Macedon': 'MKD', 'Bahrain': 'BHR', 'Oman': 'OMN',
    'Jamaica': 'JAM', 'Paragua': 'PRY', 'Brunei ': 'BRN', 'Jordan': 'JOR', 'GRC': 'GRC',
    'Macao S': 'MAC', 'Liechte': 'LIE', 'Bosnia ': 'BIH', 'Bahamas': 'BHS', 'Uganda': 'UGA',
    'Sri Lan': 'LKA'
}

In [21]:
def replace_country_names(df, country_dict):
    df['Country'] = df['Country'].map(country_dict).fillna(df['Country'])
    return df

In [22]:
df = replace_country_names(df, country_codes)
df.head()

<ipython-input-21-d5faa6fe5beb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].map(country_dict).fillna(df['Country'])

,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
200,,,30-34,NaN,NaN,1,02:05:54,7554.0,2023,M
201,,,25-29,NaN,NaN,2,02:06:04,7564.0,2023,M
202,,,30-34,NaN,NaN,3,02:06:06,7566.0,2023,M
203,,,25-29,NaN,NaN,4,02:08:01,7681.0,2023,M
204,,,25-29,NaN,NaN,5,02:08:35,7715.0,2023,M

In [23]:
unique_country = df['Country'].unique()
unique_country

array([nan, 'ETH', 'KEN', 'USA', 'UKR', 'RSA', 'ITA', 'RUS', 'JPN', 'CAN',
       'BEL', 'NZL', 'AUS', 'NED', 'ZIM', 'UGA', 'BRA', 'ESP', 'MEX',
       'IRL', 'GBR', 'GER', 'NLD', 'MAR', 'DEU', 'CHN', 'DMA', 'ISR',
       'ARG', 'BLR', 'CRO', 'COL', 'NOR', 'LAT', 'PHI', 'BRN', 'BDI',
       'CHE', 'HUN', 'CZE', 'FRA', 'DNK', 'CHL', 'PER'], dtype=object)

In [25]:
missing_or_empty_names = df[
    df['Last Name'].isna() | df['Last Name'].eq('') |
    df['First Name'].isna() | df['First Name'].eq('')
]

missing_or_empty_names

,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
200,,,30-34,NaN,NaN,1,02:05:54,7554.0,2023,M
201,,,25-29,NaN,NaN,2,02:06:04,7564.0,2023,M
202,,,30-34,NaN,NaN,3,02:06:06,7566.0,2023,M
203,,,25-29,NaN,NaN,4,02:08:01,7681.0,2023,M
204,,,25-29,NaN,NaN,5,02:08:35,7715.0,2023,M
...,...,...,...,...,...,...,...,...,...,...
1295,,,25-29,NaN,NaN,NaN,2:56:45,10605.0,2014,F
1296,,,35-39,NaN,NaN,NaN,2:56:50,10610.0,2014,F
1297,,,40-44,NaN,NaN,NaN,2:56:57,10617.0,2014,F
1298,,,40-44,NaN,NaN,NaN,2:57:03,10623.0,2014,F
1299,,,20-24,NaN,NaN,NaN,2:57:25,10645.0,2014,F

In [26]:
df

,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
200,,,30-34,NaN,NaN,1,02:05:54,7554.0,2023,M
201,,,25-29,NaN,NaN,2,02:06:04,7564.0,2023,M
202,,,30-34,NaN,NaN,3,02:06:06,7566.0,2023,M
203,,,25-29,NaN,NaN,4,02:08:01,7681.0,2023,M
204,,,25-29,NaN,NaN,5,02:08:35,7715.0,2023,M
...,...,...,...,...,...,...,...,...,...,...
1795,Battaglia,Rebekah,25-29,USA,1502,1595,2:54:25,10465.0,2019,F
1796,Jenkins,Madeline,25-29,USA,8163,1611,2:54:32,10472.0,2019,F
1797,Lowry,Cristina,30-34,USA,3023,1659,2:54:49,10489.0,2019,F
1798,Bowen,Grace,25-29,USA,2977,1674,2:54:57,10497.0,2019,F
1799,Simonson,Danika,25-29,USA,2440,1723,2:55:23,10523.0,2019,F

In [ ]:
df
#up to here is the full data
df.to_csv(f"boston_2014-2023.csv")

In [ ]:
first_100_M = df[df['Gender'] == 'M'].head(100)

first_100_F = df[df['Gender'] == 'F'].head(100)

In [ ]:
first_100_M.to_csv(f"Boston{year}_M.csv")

In [ ]:
first_100_F.to_csv(f"Boston{year}_F.csv")