<a href="https://colab.research.google.com/github/snwnkang/CS171_Final_vis_Marathon/blob/main/Data%20Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
from IPython.display import HTML
import html

In [2]:
berlin = pd.read_csv("https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/berlin_data/Berlin_All_2014_to_2023.csv")

In [3]:
berlin

,place,bib,last_name,first_name,club,country,sex,division,division_result,net_time,finish_time,year,gender_result,name,birth_date,seconds
0,1.0,2,kimetto,dennis,Kenia,KEN,M,30,1.0,02:02:57,02:02:57,2014.0,NaN,NaN,NaN,7377
1,2.0,3,mutai,emmanuel,Kenia,KEN,M,30,2.0,02:03:13,02:03:13,2014.0,NaN,NaN,NaN,7393
2,3.0,12,kuma,abera,Äthiopien,ETH,M,H,1.0,02:05:56,02:05:56,2014.0,NaN,NaN,NaN,7556
3,4.0,8,kamworor,geoffrey,Kenia,KEN,M,H,2.0,02:06:39,02:06:39,2014.0,NaN,NaN,NaN,7599
4,5.0,6,kiptanui,eliud,Kenia,KEN,M,H,3.0,02:07:28,02:07:28,2014.0,NaN,NaN,NaN,7648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2951,NaN,NaN,hawkins,ruth,NaN,GBR,F,NaN,NaN,NaN,03:04:50,2023.0,265.0,ruth hawkins,NaN,11090
2952,NaN,NaN,bridwell,jourdan,NaN,USA,F,NaN,NaN,NaN,03:04:54,2023.0,266.0,jourdan bridwell,NaN,11094
2953,NaN,NaN,o'kill,rebecca,NaN,GBR,F,NaN,NaN,NaN,03:04:54,2023.0,267.0,rebecca o'kill,NaN,11094
2954,NaN,NaN,nakamura,mika,NaN,JPN,F,NaN,NaN,NaN,03:04:55,2023.0,268.0,mika nakamura,1971-08-13 00:00:00,11095
2955,NaN,NaN,jones,shara,NaN,GBR,F,NaN,NaN,NaN,03:04:57,2023.0,269.0,shara jones,NaN,11097

In [4]:
columns_to_keep = ['place', 'bib', 'last_name', 'first_name', 'country', 'division', 'sex', 'finish_time', 'seconds', 'year']

# Drop all columns except the ones specified
berlin = berlin[columns_to_keep]

# Now boston2019 contains only the columns you want to keep
print(berlin.head())

   place bib last_name first_name country division sex finish_time  seconds  \
0    1.0   2   kimetto     dennis     KEN       30   M    02:02:57     7377
1    2.0   3     mutai   emmanuel     KEN       30   M    02:03:13     7393
2    3.0  12      kuma      abera     ETH        H   M    02:05:56     7556
3    4.0   8  kamworor   geoffrey     KEN        H   M    02:06:39     7599
4    5.0   6  kiptanui      eliud     KEN        H   M    02:07:28     7648

     year
0  2014.0
1  2014.0
2  2014.0
3  2014.0
4  2014.0

In [5]:
berlin.head

<bound method NDFrame.head of       place  bib last_name first_name country division sex finish_time  \
0       1.0    2   kimetto     dennis     KEN       30   M    02:02:57
1       2.0    3     mutai   emmanuel     KEN       30   M    02:03:13
2       3.0   12      kuma      abera     ETH        H   M    02:05:56
3       4.0    8  kamworor   geoffrey     KEN        H   M    02:06:39
4       5.0    6  kiptanui      eliud     KEN        H   M    02:07:28
...     ...  ...       ...        ...     ...      ...  ..         ...
2951    NaN  NaN   hawkins       ruth     GBR      NaN   F    03:04:50
2952    NaN  NaN  bridwell    jourdan     USA      NaN   F    03:04:54
2953    NaN  NaN    o'kill    rebecca     GBR      NaN   F    03:04:54
2954    NaN  NaN  nakamura       mika     JPN      NaN   F    03:04:55
2955    NaN  NaN     jones      shara     GBR      NaN   F    03:04:57

      seconds    year
0        7377  2014.0
1        7393  2014.0
2        7556  2014.0
3        7599  2014.0
4        7648  2014.0
...       ...     ...
2951    11090  2023.0
2952    11094  2023.0
2953    11094  2023.0
2954    11095  2023.0
2955    11097  2023.0

[2956 rows x 10 columns]>

In [6]:
berlin

,place,bib,last_name,first_name,country,division,sex,finish_time,seconds,year
0,1.0,2,kimetto,dennis,KEN,30,M,02:02:57,7377,2014.0
1,2.0,3,mutai,emmanuel,KEN,30,M,02:03:13,7393,2014.0
2,3.0,12,kuma,abera,ETH,H,M,02:05:56,7556,2014.0
3,4.0,8,kamworor,geoffrey,KEN,H,M,02:06:39,7599,2014.0
4,5.0,6,kiptanui,eliud,KEN,H,M,02:07:28,7648,2014.0
...,...,...,...,...,...,...,...,...,...,...
2951,NaN,NaN,hawkins,ruth,GBR,NaN,F,03:04:50,11090,2023.0
2952,NaN,NaN,bridwell,jourdan,USA,NaN,F,03:04:54,11094,2023.0
2953,NaN,NaN,o'kill,rebecca,GBR,NaN,F,03:04:54,11094,2023.0
2954,NaN,NaN,nakamura,mika,JPN,NaN,F,03:04:55,11095,2023.0
2955,NaN,NaN,jones,shara,GBR,NaN,F,03:04:57,11097,2023.0

In [7]:
# df['Year'] = year

In [8]:
berlin['year'] = berlin['year'].astype('Int64')

<ipython-input-8-7d8934142009>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  berlin['year'] = berlin['year'].astype('Int64')

In [9]:
rename_columns = {
    'last_name': 'Last Name',
    'first_name': 'First Name',
    'place': 'Overall Place',
    'bib': 'BIB',
    'country': 'Country',
    'sex': 'Gender',
    'finish_time': 'Time',
    'seconds': 'Seconds',
    'year': 'Year',
    'division': 'Division'
}

berlin.rename(columns=rename_columns, inplace=True)

<ipython-input-9-f276b8493c58>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  berlin.rename(columns=rename_columns, inplace=True)

In [10]:
berlin

,Overall Place,BIB,Last Name,First Name,Country,Division,Gender,Time,Seconds,Year
0,1.0,2,kimetto,dennis,KEN,30,M,02:02:57,7377,2014
1,2.0,3,mutai,emmanuel,KEN,30,M,02:03:13,7393,2014
2,3.0,12,kuma,abera,ETH,H,M,02:05:56,7556,2014
3,4.0,8,kamworor,geoffrey,KEN,H,M,02:06:39,7599,2014
4,5.0,6,kiptanui,eliud,KEN,H,M,02:07:28,7648,2014
...,...,...,...,...,...,...,...,...,...,...
2951,NaN,NaN,hawkins,ruth,GBR,NaN,F,03:04:50,11090,2023
2952,NaN,NaN,bridwell,jourdan,USA,NaN,F,03:04:54,11094,2023
2953,NaN,NaN,o'kill,rebecca,GBR,NaN,F,03:04:54,11094,2023
2954,NaN,NaN,nakamura,mika,JPN,NaN,F,03:04:55,11095,2023
2955,NaN,NaN,jones,shara,GBR,NaN,F,03:04:57,11097,2023

In [11]:
new_column_order = [
    'Last Name', 'First Name', 'Division', 'Country', 'BIB', 'Overall Place',
    'Time', 'Seconds', 'Year', 'Gender'
]

berlin = berlin[new_column_order]

In [12]:
unique_country = berlin['Country'].unique()
unique_country

array(['KEN', 'ETH', 'JPN', 'USA', 'BEL', 'GBR', 'FIN', 'ITA', 'DEU',
       'ESP', 'PRT', 'MEX', 'CAN', 'CZE', 'DNK', 'ARG', 'RUS', 'FRA',
       'NOR', 'PER', 'SVN', 'CHE', 'NLD', 'POL', 'ZAF', 'SWE', 'IRL',
       'AUT', 'AUS', 'BGR', 'ISR', 'ISL', 'VEN', 'BRA', 'CHN', 'MAR',
       'ERI', 'LTU', 'GEO', 'ECU', 'HUN', 'GRC', 'UZB', 'EST', 'LSO',
       'LIE', 'LVA', 'LUX', 'HRV', 'HKG', 'JOR', 'SVK', 'NZL', 'TWN',
       'TUR', 'DZA', 'UKR', 'SUI', 'NED', 'GUI', 'GER', 'GRE', 'DEN',
       'COL', 'POR', 'CHI', 'MAS', 'PUR', 'CPV', 'ROU', 'SIN', 'CRC',
       'LES', 'DOM', 'LAT', 'KOR', 'GUA', 'MGL', 'ZAM', 'RSA', 'SUD',
       'EGY', 'SLO', 'IRI', 'BUR', 'THA', 'TRI', 'KAZ', 'URU', 'RWA',
       'CYP', 'TUN', 'BUL', 'TAN', 'ALG', 'LBN', 'SRB', 'PAR', 'BLR',
       'SGP', 'INA'], dtype=object)

In [13]:
berlin

,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
0,kimetto,dennis,30,KEN,2,1.0,02:02:57,7377,2014,M
1,mutai,emmanuel,30,KEN,3,2.0,02:03:13,7393,2014,M
2,kuma,abera,H,ETH,12,3.0,02:05:56,7556,2014,M
3,kamworor,geoffrey,H,KEN,8,4.0,02:06:39,7599,2014,M
4,kiptanui,eliud,H,KEN,6,5.0,02:07:28,7648,2014,M
...,...,...,...,...,...,...,...,...,...,...
2951,hawkins,ruth,NaN,GBR,NaN,NaN,03:04:50,11090,2023,F
2952,bridwell,jourdan,NaN,USA,NaN,NaN,03:04:54,11094,2023,F
2953,o'kill,rebecca,NaN,GBR,NaN,NaN,03:04:54,11094,2023,F
2954,nakamura,mika,NaN,JPN,NaN,NaN,03:04:55,11095,2023,F
2955,jones,shara,NaN,GBR,NaN,NaN,03:04:57,11097,2023,F

In [14]:
berlin
#up to here is the full data
berlin.to_csv(f"berlin_2014-2023_full.csv")

In [15]:
london = pd.read_csv("https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/combined_data/London_Marathon2014-2023.csv")
chicago = pd.read_csv("https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/combined_data/chicago_marathon_2014-2023.csv")
newyork = pd.read_csv("https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/combined_data/ny_marathon_2014-2023.csv")

In [16]:
berlin

,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
0,kimetto,dennis,30,KEN,2,1.0,02:02:57,7377,2014,M
1,mutai,emmanuel,30,KEN,3,2.0,02:03:13,7393,2014,M
2,kuma,abera,H,ETH,12,3.0,02:05:56,7556,2014,M
3,kamworor,geoffrey,H,KEN,8,4.0,02:06:39,7599,2014,M
4,kiptanui,eliud,H,KEN,6,5.0,02:07:28,7648,2014,M
...,...,...,...,...,...,...,...,...,...,...
2951,hawkins,ruth,NaN,GBR,NaN,NaN,03:04:50,11090,2023,F
2952,bridwell,jourdan,NaN,USA,NaN,NaN,03:04:54,11094,2023,F
2953,o'kill,rebecca,NaN,GBR,NaN,NaN,03:04:54,11094,2023,F
2954,nakamura,mika,NaN,JPN,NaN,NaN,03:04:55,11095,2023,F
2955,jones,shara,NaN,GBR,NaN,NaN,03:04:57,11097,2023,F

In [17]:
london

,Unnamed: 0,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
0,0,Duncan,Nicola,18-39,IRL,426,69,2:33:28,9208,2014,F
1,1,Briscoe,Julie,18-39,GBR,374,191,2:39:43,9583,2014,F
2,2,Bird,Sara,18-39,GBR,521,197,2:39:55,9595,2014,F
3,3,Munn,Hayley,18-39,GBR,273,208,2:40:35,9635,2014,F
4,4,Fletcher,Shona,18-39,GBR,410,370,2:44:59,9899,2014,F
...,...,...,...,...,...,...,...,...,...,...,...
1995,95,Hendrix,Austin,18-39,USA,6083,96,02:28:39,8919,2023,M
1996,96,Harradence,Oliver,40-44,GBR,1594,97,02:28:42,8922,2023,M
1997,97,Poole,Jonathan,40-44,GBR,1824,98,02:28:45,8925,2023,M
1998,98,Hurrell,James,18-39,GBR,1875,99,02:28:48,8928,2023,M
1999,99,Horman,James,40-44,GBR,1409,100,02:28:49,8929,2023,M

In [18]:
chicago

,Unnamed: 0,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
0,0,Dibaba,Mare,20-24,ETH,103,50,02:25:37,8737.0,2014,F
1,1,Kiplagat,Florence,25-29,KEN,102,53,02:25:57,8757.0,2014,F
2,2,Dibaba,Birhane,20-24,ETH,106,61,02:27:02,8822.0,2014,F
3,3,Hastings,Amy,30-34,USA,107,62,02:27:03,8823.0,2014,F
4,4,Santucci,Clara,25-29,USA,108,101,02:32:21,9141.0,2014,F
...,...,...,...,...,...,...,...,...,...,...,...
1795,1795,Salvador,Xavier,25-29,USA,19110,111,02:27:23,8843.0,2023,M
1796,1796,Mora,Connor,25-29,USA,681,112,02:27:23,8843.0,2023,M
1797,1797,Trimble,Luke,30-34,USA,7039,113,02:27:26,8846.0,2023,M
1798,1798,Keinath,Moritz,30-34,SUI,5073,114,02:27:27,8847.0,2023,M
1799,1799,Furcich,Justin,25-29,USA,18127,115,02:27:28,8848.0,2023,M

In [19]:
newyork

,Unnamed: 0,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender
0,0,Mary,Keitany,30-34,KEN,104,25,2:25:07,8707,2014,F
1,1,Jemima,Sumgong,25-29,KEN,106,27,2:25:10,8710,2014,F
2,2,Sara,Moreira,25-29,POR,116,31,2:26:00,8760,2014,F
3,3,Jelena,Prokopcuka,35-39,LAT,103,32,2:26:15,8775,2014,F
4,4,Desiree,Linden,30-34,USA,109,40,2:28:11,8891,2014,F
...,...,...,...,...,...,...,...,...,...,...,...
1975,1975,David,Scherrer,20-24,USA,1638,107,2:36:07,9367,2023,M
1976,1976,Killian,Nolan,35-39,IRL,1543,108,2:36:08,9368,2023,M
1977,1977,Temesgen Habtemariam,Bekele,30-34,ETH,553,109,2:36:11,9371,2023,M
1978,1978,Andrea,Fraquelli,35-39,GBR,529,110,2:36:17,9377,2023,M
1979,1979,Eric,Reitinger,35-39,USA,1094,111,2:36:17,9377,2023,M

In [20]:
london = london.drop(columns=['Unnamed: 0'])
chicago = chicago.drop(columns=['Unnamed: 0'])
newyork = newyork.drop(columns=['Unnamed: 0'])

In [23]:
london['Marathon'] = "London"
chicago['Marathon'] = "Chicago"
newyork['Marathon'] = "New York"
berlin['Marathon'] = "Berlin"

<ipython-input-23-1d9c85ab7ea5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  berlin['Marathon'] = "Berlin"

In [24]:
lonchinyber = pd.concat([london, chicago, newyork, berlin], ignore_index=True)

In [25]:
lonchinyber

,Last Name,First Name,Division,Country,BIB,Overall Place,Time,Seconds,Year,Gender,Marathon
0,Duncan,Nicola,18-39,IRL,426,69,2:33:28,9208.0,2014,F,London
1,Briscoe,Julie,18-39,GBR,374,191,2:39:43,9583.0,2014,F,London
2,Bird,Sara,18-39,GBR,521,197,2:39:55,9595.0,2014,F,London
3,Munn,Hayley,18-39,GBR,273,208,2:40:35,9635.0,2014,F,London
4,Fletcher,Shona,18-39,GBR,410,370,2:44:59,9899.0,2014,F,London
...,...,...,...,...,...,...,...,...,...,...,...
8731,hawkins,ruth,NaN,GBR,NaN,NaN,03:04:50,11090.0,2023,F,Berlin
8732,bridwell,jourdan,NaN,USA,NaN,NaN,03:04:54,11094.0,2023,F,Berlin
8733,o'kill,rebecca,NaN,GBR,NaN,NaN,03:04:54,11094.0,2023,F,Berlin
8734,nakamura,mika,NaN,JPN,NaN,NaN,03:04:55,11095.0,2023,F,Berlin
8735,jones,shara,NaN,GBR,NaN,NaN,03:04:57,11097.0,2023,F,Berlin

In [26]:
lonchinyber.to_csv("londonchicagonyberlin_combined.csv")