<a href="https://colab.research.google.com/github/snwnkang/CS171_Final_vis_Marathon/blob/main/Data_cleanup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

In [2]:
cmdf2000 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2000.csv')

In [3]:
cmdf2001 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2001.csv', encoding='latin1')

In [4]:
cmdf2002 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2002.csv')
cmdf2003 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2003.csv')
cmdf2004 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2004.csv')
cmdf2005 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2005.csv')
cmdf2006 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2006.csv')
cmdf2007 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2007.csv')
cmdf2008 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2008.csv')
cmdf2009 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2009.csv')
cmdf2010 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2010.csv')
cmdf2011 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2011.csv')
cmdf2012 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2012.csv')
cmdf2013 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2013.csv')
cmdf2014 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2014.csv')
cmdf2015 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2015.csv')
cmdf2016 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2016.csv')
cmdf2017 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2017.csv')
cmdf2018 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2018.csv', encoding='latin1')
cmdf2019 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2019.csv')
cmdf2021 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2021.csv')
cmdf2022 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2022.csv')
cmdf2023 = pd.read_csv('https://raw.githubusercontent.com/snwnkang/CS171_Final_vis_Marathon/main/data/Chicago_Marathon_2023.csv')

In [5]:
cmdf2000 = cmdf2000.drop(0)

In [10]:
all_dfs = [(cmdf2000, 2000),
           (cmdf2001, 2001),
           (cmdf2002, 2002),
           (cmdf2003, 2003),
           (cmdf2004, 2004),
           (cmdf2005, 2005),
           (cmdf2006, 2006),
           (cmdf2007, 2007),
           (cmdf2008, 2008),
           (cmdf2009, 2009),
           (cmdf2010, 2010),
           (cmdf2011, 2011),
           (cmdf2012, 2012),
           (cmdf2013, 2013),
           (cmdf2014, 2014),
           (cmdf2015, 2015),
           (cmdf2016, 2016),
           (cmdf2017, 2017),
           (cmdf2018, 2018),
           (cmdf2019, 2019),
           (cmdf2021, 2021),
           (cmdf2022, 2022),
           (cmdf2023, 2023)]

In [7]:
for df in all_dfs:
    # Extract 'Gender' and 'Age' from the 'Last Name, First Name' column, making age optional
    df[['Gender', 'Age']] = df['Last Name, First Name'].str.extract(r'\(([MF])(\d*)\)')

    # Replace any extracted age that is an empty string with a default value or NaN
    # You can define default_age to be whatever makes sense for your context, e.g., NaN, a specific integer, etc.
    default_age = None  # or np.nan, or a default integer
    df['Age'] = df['Age'].replace('', default_age)

    # Remove the parentheses and the gender-age information from the 'Last Name, First Name' column
    df['Last Name, First Name'] = df['Last Name, First Name'].str.replace(r'\s*\([MF]\d*\)', '', regex=True)

In [8]:
cmdf2000.head(5)

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,Net Time,"City, State, Country",Gender,Age
1,Khalid Khannouchi,2:07:01,1.0,1 / 1,M25-29,2:07:01,USA,M,28
2,Josephat Kiprono,2:07:29,2.0,2 / 2,M25-29,2:07:29,Kenya,M,26
3,Moses Tanui,2:07:47,3.0,3 / 1,M35-39,2:07:47,Kenya,M,35
4,Peter Githuka,2:08:02,4.0,4 / 1,M30-34,2:08:02,Kenya,M,31
5,Fred Kiprop,2:08:23,5.0,5 / 3,M25-29,2:08:23,Kenya,M,26

In [9]:
for df in all_dfs:
  print(df.head(5))

  Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
1     Khalid Khannouchi  2:07:01      1.0     1 / 1  M25-29  2:07:01
2      Josephat Kiprono  2:07:29      2.0     2 / 2  M25-29  2:07:29
3           Moses Tanui  2:07:47      3.0     3 / 1  M35-39  2:07:47
4         Peter Githuka  2:08:02      4.0     4 / 1  M30-34  2:08:02
5           Fred Kiprop  2:08:23      5.0     5 / 3  M25-29  2:08:23

  City, State, Country Gender Age
1                  USA      M  28
2                Kenya      M  26
3                Kenya      M  35
4                Kenya      M  31
5                Kenya      M  26
  Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0          Ben Kimondiu  2:08:52        1     1 / 1  M20-24  2:08:52
1           Paul Tergat  2:08:56        2     2 / 1  M30-34  2:08:56
2         Peter Githuka  2:09:00        3     3 / 2  M30-34  2:09:00
3        Mohamed Ouaadi  2:09:26        4     4 / 3  M30-34  2:09:26
4      Noriaki Igarashi  2:09:35        5     5 / 1  M25-29  2:09:35

  City, State, Country Gender Age
0                Kenya      M  23
1                Kenya      M  32
2                Kenya      M  32
3                  PRA      M  31
4                Japan      M  28
    Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0       Khalid Khannouchi  2:05:56        1     1 / 1  M30-34  2:05:56
1           Daniel Njenga  2:06:16        2     2 / 1  M25-29  2:06:16
2       Toshinari Takaoka  2:06:16        3     3 / 2  M30-34  2:06:16
3             Paul Tergat  2:06:18        4     4 / 3  M30-34  2:06:18
4  Abdelkhader El Mouaziz  2:06:46        5     5 / 4  M30-34  2:06:46

  City, State Gender Age
0         NaN      M  30
1         NaN      M  26
2         NaN      M  32
3         NaN      M  33
4         NaN      M  33
   Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0            Evans Rutto  2:05:50        1     1 / 1  M25-29  2:05:50
1             Paul Koech  2:07:07        2     2 / 1  M30-34  2:07:07
2          Daniel Njenga  2:07:41        3     3 / 2  M25-29  2:07:41
3           Jimmy Muindi  2:08:57        5     5 / 2  M30-34  2:08:57
4  Abdelkader El Mouaziz  2:09:38        6     6 / 3  M30-34  2:09:38

  City, State, Country Gender Age
0                Kenya      M  25
1                Kenya      M  34
2                Kenya      M  27
3                Kenya      M  30
4              Morocco      M  34
  Last Name, First Name  OverAll Sex Place     DIV Net Time   City, State  \
0           EVANS RUTTO        1     1 / 1  M25-29  2:06:16   CONCORD, MA
1         DANIEL NJENGA        2     2 / 2  M25-29  2:07:44   BOULDER, CO
2     TOSHINARI TAKAOKA        3     3 / 1  M30-34  2:07:50   BOULDER, CO
3          JIMMY MUINDI        4     4 / 2  M30-34  2:08:27     TAMPA, FL
4     KHALID KHANNOUCHI        5     5 / 3  M30-34  2:08:44  OSSINING, NY

  Gender Age
0      M  26
1      M  28
2      M  34
3      M  31
4      M  32
  Last Name, First Name     Time  OverAll  Sex Place Net Time  \
0            FELIX LIMO  2:07:02        1          1  2:07:02
1        BENJAMIN MAIYO  2:07:09        2          2  2:07:09
2         DANIEL NJENGA  2:07:14        3          3  2:07:14
3           EVANS RUTTO  2:07:28        4          4  2:07:28
4         PATRICK IVUTI  2:07:46        5          5  2:07:46

         City, State Gender Age
0           NIJMEGAN      M  25
1        CONCORD, MA      M  27
2        BOULDER, CO      M  29
3        CONCORD, MA      M  27
4  CLUSANE D'ISEO BS      M  27
       Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0  Robert Kipkoech Cheruiyot  2:07:35        1     1 / 1  M25-29  2:07:35
1              Daniel Njenga  2:07:40        2     2 / 1  M30-34  2:07:40
2               Jimmy Muindi  2:07:51        3     3 / 2  M30-34  2:07:51
3            Abdi Abdirahman  2:08:56        4     4 / 2  M25-29  2:08:56
4            Robert Cheboror  2:09:25        5     5 / 3  M25-29  2:09:25

  City, State, Country Gender Age
0                KENYA      M  28
1                KENYA      M  30
2                KENYA      M  33
3                  USA      M  29
4                KENYA      M  28
  Last Name, First Name     Time  OverAll  Sex Place Net Time  \
0         Patrick Ivuti  2:11:11        1          1  2:11:11
1         Jaouad Gharib  2:11:11        2          2  2:11:11
2         Daniel Njenga  2:12:45        3          3  2:12:45
3   Robert K. Cheruiyot  2:16:13        4          4  2:16:13
4             Ben Maiyo  2:16:59        5          5  2:16:59

  City, State, Country AG Time* Gender Age
0                  KEN  2:11:11      M  29
1                  MAR  2:11:11      M  35
2                  KEN  2:12:45      M  31
3                  KEN  2:16:13      M  29
4                  KEN  2:16:59      M  29
  Last Name, First Name     Time  OverAll Sex Place     DIV Net Time  \
0       Evans Cheruiyot  2:06:25        1     1 / 1  M25-29  2:06:25
1         David Mandago  2:07:37        2     2 / 1  M30-34  2:07:37
2      Timothy Cherigat  2:11:39        3     3 / 2  M30-34  2:11:39
3          Wesley Korir  2:13:53        4     4 / 2  M25-29  2:13:53
4         Martin Lauret  2:15:10        5     5 / 1  M35-39  2:15:10

  City, State, Country AG Time* Gender Age
0                  KEN  2:06:25      M  26
1                  KEN  2:07:37      M  30
2                  KEN  2:11:39      M  31
3  Louisville, KY, KEN  2:13:53      M  25
4                  NED  2:15:01      M  36
  Last Name, First Name     Time  OverAll Sex Place     DIV Net Time Country  \
0         Sammy Wanjiru  2:05:41        1     1 / 1  M20-24  2:05:41     KEN
1     Abderrahim Goumri  2:06:04        2     2 / 1  M30-34  2:06:04     MAR
2       Vincent Kipruto  2:06:08        3     3 / 2  M20-24  2:06:08     KEN
3       Charles Munyeki  2:07:06        4     4 / 3  M20-24  2:07:06     KEN
4          Richard Limo  2:08:43        5     5 / 1  M25-29  2:08:43     KEN

  AG Time* Gender Age
0  2:05:37      M  22
1  2:06:04      M  33
2  2:06:04      M  22
3  2:07:06      M  23
4  2:08:43      M  28
  Last Name, First Name     Time  OverAll Sex Place     DIV Country AG Time*  \
0         Sammy Wanjiru  2:06:24        1     1 / 1  M20-24     KEN  2:06:24
1        Tsegaye Kebede  2:06:43        2     2 / 2  M20-24     ETH  2:06:43
2         Feyisa Lilesa  2:08:10        3     3 / 3  M20-24     ETH  2:06:33
3          Wesley Korir  2:08:44        4     4 / 1  M25-29     KEN  2:08:44
4       Vincent Kipruto  2:09:08        5     5 / 4  M20-24     ETH  2:09:08

  Gender Age
0      M  23
1      M  23
2      M  20
3      M  27
4      M  23
  Last Name, First Name     Time  OverAll Sex Place     DIV  \
0           Moses Mosop  2:05:37        1     1 / 1  M25-29
1          Wesley Korir  2:06:15        2     2 / 2  M25-29
2       Bernard Kipyego  2:06:29        3     3 / 3  M25-29
3           Bekana Daba  2:07:59        4     4 / 1  M20-24
4             Ryan Hall  2:08:04        5     5 / 4  M25-29

  City, State, Country AG Time* Gender Age
0                  KEN  2:05:37      M  26
1                  KEN  2:06:15      M  28
2                  KEN  2:06:29      M  25
3                  ETH  2:07:59      M  23
4                  USA  2:08:04      M  28
  Last Name, First Name     Time  OverAll Sex Place     DIV  \
0        Tsegaye Kebede  2:04:38        1     1 / 1  M25-29
1         Feyisa Lilesa  2:04:52        2     2 / 1  M20-24
2       Tilahun Regassa  2:05:27        3     3 / 2  M20-24
3         Sammy Kitwara  2:05:54        4     4 / 2  M25-29
4          Wesley Korir  2:06:13        5     5 / 3  M25-29

  City, State, Country AG Time* Gender Age
0                  ETH  2:04:38      M  25
1                  ETH  2:04:48      M  22
2                  ETH  2:05:23      M  22
3                  KEN  2:05:54      M  25
4                  KEN  2:06:13      M  29
  Last Name, First Name     Time  OverAll Sex Place     DIV  \
0        Dennis Kimetto  2:03:45        1     1 / 1  M25-29
1        Emannuel Mutai  2:03:52        2     2 / 2  M25-29
2         Sammy Kitwara  2:05:16        3     3 / 3  M25-29
3            Micah Kogo  2:06:56        4     4 / 4  M25-29
4     Dathan Ritzenhein  2:09:45        5     5 / 1  M30-34

  City, State, Country AG Time* Gender Age
0                  KEN  2:03:45      M  29
1                  KEN  2:03:52      M  28
2                  KEN  2:05:16      M  26
3                  KEN  2:06:56      M  27
4                  USA  2:09:45      M  30
  Last Name, First Name     Time  OverAll Sex Place     DIV  \
0        Eliud Kipchoge  2:04:11        1     1 / 1  M25-29
1         Sammy Kitwara  2:04:28        2     2 / 2  M25-29
2        Dickson Chumba  2:04:32        3     3 / 3  M25-29
3       Kenenisa Bekele  2:05:51        4     4 / 1  M30-34
4         Bernard Koech  2:08:30        5     5 / 1  M25-29

  City, State, Country AG Time* Gender Age
0                  KEN  2:04:11      M  29
1                  KEN  2:04:28      M  27
2                  KEN  2:04:32      M  27
3                  ETH  2:05:51      M  32
4                  KEN  2:08:30      M  26
  Last Name, First Name     Time OverAll  Sex Place     DIV  \
0             (Sex/Age)      NaN   Place          /     NaN
1                   NaN      NaN     NaN  Div Place     NaN
2        Dickson Chumba  2:09:25       1      1 / 1  M25-29
3         Sammy Kitwara  2:09:50       2      2 / 2  M25-29
4          Sammy Ndungu  2:10:06       3      3 / 3  M25-29

  City, State, Country  BQ* Gender   Age
0                  NaN  NaN    NaN   NaN
1                  NaN  NaN    NaN   NaN
2                  KEN   BQ      M  None
3                  KEN   BQ      M  None
4                  KEN   BQ      M  None
  Last Name, First Name     Time  OverAll Sex Place     DIV  \
0            Abel Kirui  2:11:23        1     1 / 1  M30-34
1        Dickson Chumba  2:11:26        2     2 / 1  M25-29
2       Gideon Kipketer  2:12:20        3     3 / 1  M20-24
3       Paul Lonyangata  2:13:17        4     4 / 2  M20-24
4         Stephen Sambu  2:13:35        5     5 / 2  M25-29

  City, State, Country AG Time* Gender Age
0                  NaN  2:11:23      M  34
1                  NaN  2:11:26      M  29
2                  NaN  2:12:20      M  23
3                  NaN  2:13:17      M  24
4                  NaN  2:13:35      M  28
  Last Name, First Name     Time  OverAll Sex Place     DIV  \
0            Galen Rupp  2:09:20        1     1 / 1  M30-34
1            Abel Kirui  2:09:48        2     2 / 1  M35-39
2       Bernard Kipyego  2:10:23        3     3 / 2  M30-34
3           Sisay Lemma  2:11:01        4     4 / 1  M25-29
4         Stephen Sambu  2:11:07        5     5 / 2  M25-29

  City, State, Country AG Time* Gender Age
0    Portland, OR, USA  2:09:20      M  31
1                  KEN  2:09:48      M  35
2                  KEN  2:10:23      M  31
3                  ETH  2:11:01      M  26
4                  KEN  2:11:07      M  29
   Last Name, First Name  OverAll Sex Place     DIV Net Time Country Gender  \
0               Farah Mo        1     1Ê/Ê1  M35-39  2:05:11     GBR      M
1  Bayih Mosinet Geremew        2     2Ê/Ê1  M25-29  2:05:24     ETH      M
2           Osako Suguru        3     3Ê/Ê2  M25-29  2:05:50     JPN      M
3       Kipkemoi Kenneth        4     4Ê/Ê1  M30-34  2:05:57     KEN      M
4             Rupp Galen        5     5Ê/Ê2  M30-34  2:06:21     USA      M

    Age
0  None
1  None
2  None
3  None
4  None
  Last Name, First Name  OverAll Sex Place     DIV Net Time Country Gender  \
0      Lawrence Cherono        1     1 / 1  M30-34  2:05:45     KEN      M
1         Dejene Debela        2     2 / 1  M20-24  2:05:46     ETH      M
2         Asefa Mengstu        3     3 / 2  M30-34  2:05:48     ETH      M
3          Bedan Karoki        4     4 / 1  M25-29  2:05:53     KEN      M
4           Bashir Abdi        5     5 / 3  M30-34  2:06:14     BEL      M

    Age
0  None
1  None
2  None
3  None
4  None
  Last Name, First Name     Time  OverAll Sex Place          DIV   Country  \
0    Seifu Tura Abdiwak  2:06:12        1     1 / 1  MElite20-24  Ethiopia
1            Galen Rupp  2:06:35        2     2 / 1  MElite35-39       USA
2         Eric Kiptanui  2:06:51        3     3 / 1  MElite30-34     Kenya
3          Kengo Suzuki  2:08:50        4     4 / 1  MElite25-29     Japan
4   Shifera Tamru Aredo  2:09:39        5     5 / 2  MElite20-24  Ethiopia

  Gender   Age
0      M  None
1      M  None
2      M  None
3      M  None
4      M  None
  Last Name, First Name     Time  OverAll Sex Place     DIV    Country Gender  \
0        Benson Kipruto  2:04:24        1     1 / 1  M30-34      Kenya      M
1    Seifu Tura Abdiwak  2:04:49        2     2 / 1  M25-29   Ethiopia      M
2            John Korir  2:05:01        3     3 / 2  M25-29      Kenya      M
3         Bernard Koech  2:07:15        4     4 / 2  M30-34      Kenya      M
4   Shifera Tamru Aredo  2:07:53        5     5 / 1  M20-24   Ethiopia      M

    Age
0  None
1  None
2  None
3  None
4  None
  Last Name, First Name     Time  OverAll Sex Place     DIV    Country Gender  \
0         Kelvin Kiptum  2:00:35        1     1 / 1  M20-24      Kenya      M
1        Benson Kipruto  2:04:02        2     2 / 1  M30-34      Kenya      M
2           Bashir Abdi  2:04:32        3     3 / 2  M30-34    Belgium      M
3            John Korir  2:05:09        4     4 / 1  M25-29      Kenya      M
4    Seifu Tura Abdiwak  2:05:29        5     5 / 2  M25-29   Ethiopia      M

    Age
0  None
1  None
2  None
3  None
4  None

,"Last Name, First Name",Time,OverAll,Sex Place,DIV,"City, State, Country",BQ*,Gender,Age
0,(Sex/Age),NaN,Place,/,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Div Place,NaN,NaN,NaN,NaN,NaN
2,Dickson Chumba (M),2:09:25,1,1 / 1,M25-29,KEN,BQ,NaN,NaN
3,Sammy Kitwara (M),2:09:50,2,2 / 2,M25-29,KEN,BQ,NaN,NaN
4,Sammy Ndungu (M),2:10:06,3,3 / 3,M25-29,KEN,BQ,NaN,NaN