In [1]:
import numpy as np
import pandas as pd

In [2]:
all_df = pd.read_csv('combined_updated_dataAll.csv')
london_df = pd.read_csv('London_Top_100.csv')

In [3]:
# Remove existing London data
all_df = all_df[all_df['Marathon'] != 'London']

In [4]:
print(all_df.columns)
print(london_df.columns)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Last_Name', 'First_Name', 'Division',
       'Country', 'BIB', 'Overall_Place', 'Time', 'Seconds', 'Year', 'Gender',
       'Marathon'],
      dtype='object')
Index(['Overall Place', 'Gender Place', 'Category Place', 'Club',
       'Runner Number', 'Gender', 'Category', 'Event', 'Half Time',
       'Finish Time', 'Year', 'Last Name', 'First Name', 'Country',
       'Total Seconds', 'Half Seconds', 'Name'],
      dtype='object')

In [5]:
# Rename and keep only relevant columns
london_df = london_df.rename(columns={'Last Name': 'Last_Name', 'First Name': 'First_Name', 'Category': 'Division', 'Runner Number': 'BIB', 'Overall Place': 'Overall_Place', 'Finish Time': 'Time', 'Total Seconds': 'Seconds'})
small_london_df = london_df[london_df.columns[london_df.columns.isin(all_df.columns)]]
small_london_df['Marathon'] = 'London'

/var/folders/l8/68r12l513nz1wg5q55x_c5d00000gn/T/ipykernel_34745/278242207.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_london_df['Marathon'] = 'London'

In [6]:
# Drop irrelevant columns from larger df
all_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)

In [7]:
# Combine dfs
all_df = pd.concat([all_df,small_london_df], ignore_index=True)

In [8]:
# Cast all names to lowercase for consistency
all_df['First_Name'] = all_df['First_Name'].str.lower()
all_df['Last_Name'] = all_df['Last_Name'].str.lower()

In [9]:
# Import and clean country code mappings
code_df = pd.read_csv('iso_to_ioc.csv')

# Remove empty elements in the code mapping
code_df = code_df[['IOC','ISO']]

for index, row in code_df.iterrows():
    if pd.isna(row['IOC']):
        if not pd.isna(row['ISO']) and row['ISO'] not in code_df['IOC'].unique():
            code_df.at[index,'IOC'] = row['ISO']
        else:
            code_df.drop(index, inplace=True)

# code_df.loc[len(code_df)] = [np.nan, np.nan]

In [10]:
# Convert IOC country codes to ISO-3
print(all_df)
iso_list = code_df['ISO'].unique().tolist()
ioc_list = code_df['IOC'].unique().tolist()
full_name_list = manual_code_df['Full Name'].unique()

for index, row in all_df.iterrows():
    if row['Country'] not in iso_list:
        if row['Country'] in ioc_list:
            map_row = code_df[code_df['IOC'].str.contains(row['Country'], case=False)]
            all_df.at[index,'Country'] = map_row['ISO']
        elif row['Country'] in full_name_list:
            map_row = manual_code_df[manual_code_df['Full Name'].str.contains(row['Country'], case=False)]
            # print(map_row)
            # manual_code_df.loc[manual_code_df['Full Name'] == row['Country'], 'ISO'].values[0]
            # print(map_row['ISO'].values[0])
            all_df.at[index,'Country'] =  map_row['ISO'].values[0]
        else:
            all_df.at[index,'Country'] = np.nan
            
print(all_df)

             Last_Name First_Name Division        Country  BIB Overall_Place  \
0               dibaba       mare    20-24            ETH  103            50
1             kiplagat   florence    25-29            KEN  102            53
2               dibaba    birhane    20-24            ETH  106            61
3             hastings        amy    30-34            USA  107            62
4             santucci      clara    25-29            USA  108           101
...                ...        ...      ...            ...  ...           ...
9218              king      katie   F18-39  Great Britain  NaN        1964.0
9219  trahair-williams      sarah   F18-39  Great Britain  NaN        1967.0
9220            vulpen  kaili van   F18-39         Canada  NaN        1976.0
9221      cowell-jones        zoe   F40-44  Great Britain  NaN        1971.0
9222              sogo      laura   F18-39          Spain  NaN        1987.0

          Time  Seconds  Year Gender Marathon
0     02:25:37   8737.0  2014      F  Chicago
1     02:25:57   8757.0  2014      F  Chicago
2     02:27:02   8822.0  2014      F  Chicago
3     02:27:03   8823.0  2014      F  Chicago
4     02:32:21   9141.0  2014      F  Chicago
...        ...      ...   ...    ...      ...
9218   2:54:08  10448.0  2023      F   London
9219   2:54:09  10449.0  2023      F   London
9220   2:54:13  10453.0  2023      F   London
9221   2:54:13  10453.0  2023      F   London
9222   2:54:20  10460.0  2023      F   London

[9223 rows x 11 columns]

NameError: name 'manual_code_df' is not defined

In [29]:
all_df.to_csv('combined_correct_london.csv',index=False)

In [ ]:
set2 = set(ioc_list + iso_list)
set1 = set(london_df['Country'].unique())

# Select elements from list1 that are not in list2
result = list(set1 - set2)

print(result)

In [ ]:
# manual_code_df = pd.DataFrame(columns=['Full Name','ISO'])
# manu

In [ ]:
data = {
    'Full Name': ['Mexico', 'Norway', 'Great Britain', 'Ireland', 'Costa Rica','Australia', 'Ethiopia', 'Germany', 'Switzerland','Kenya',
                  'Spain', 'Poland','Italy','Canada','Lithuania','LIB','Netherlands','South Africa','NIR'],
    'ISO': ['MEX', 'NOR', 'GBR', 'IRL', 'CRI', 'AUS', 'ETH', 'DEU','CHE','KEN',
            'ESP', 'POL','ITA','CAN','LTU','LBN','NLD','ZAF','GBR']
}

# Create a DataFrame using the dictionary
manual_code_df = pd.DataFrame(data)
manual_code_df['Full Name'] = manual_code_df['Full Name'].astype(str)
manual_code_df['ISO'] = manual_code_df['ISO'].astype(str)
print(manual_code_df['ISO'][0])

In [ ]:
for index, row in all_df.iterrows():
    if row['Country'] not in iso_list:
        if row['Country'] in ioc_list:
            map_row = code_df[code_df['IOC'].str.contains(row['Country'], case=False)]
            all_df.at[index,'Country'] = map_row['ISO']
        else:
            all_df.at[index,'Country'] = np.nan
            
df['Country'] = df['Country'].astype(str)

In [11]:
print(code_df)

     IOC  ISO
0    AFG  AFG
1    ALA  ALA
2    ALB  ALB
3    ALG  DZA
4    ASA  ASM
..   ...  ...
249  WLF  WLF
250  ESH  ESH
251  YEM  YEM
252  ZAM  ZMB
253  ZIM  ZWE

[251 rows x 2 columns]

In [12]:
boston_df = pd.read_csv('full2019boston.csv')

In [13]:
for index, row in boston_df.iterrows():
    if row['Country'] not in iso_list:
        if row['Country'] in ioc_list:
            map_row = code_df[code_df['IOC'].str.contains(row['Country'], case=False)]
            boston_df.at[index,'Country'] = map_row['ISO']
        elif row['Country'] in full_name_list:
            map_row = manual_code_df[manual_code_df['Full Name'].str.contains(row['Country'], case=False)]
            # print(map_row)
            # manual_code_df.loc[manual_code_df['Full Name'] == row['Country'], 'ISO'].values[0]
            # print(map_row['ISO'].values[0])
            boston_df.at[index,'Country'] =  map_row['ISO'].values[0]
        else:
            boston_df.at[index,'Country'] = np.nan
print(boston_df['Country'].unique())

['KEN' 'ETH' 'USA' 'JPN' 'MAR' 'MEX' 'CAN' 'AUS' 'DEU' 'CHN' 'DMA' 'ISR'
 'ARG' 'IRL' 'BRA' 'TUR' 'AUT' 'PER' 'FRA' 'CHL' 'CHE' 'DNK' 'NOR' 'FIN'
 'PRT' 'SWE' 'LVA' 'COL' 'BMU' 'BEL' 'HKG' 'ECU' 'ITA' 'CRI' 'TWN' 'EST'
 'ESP' 'PSE' 'VEN' 'CZE' 'NLD' 'RUS' 'IND' 'ZAF' 'SGP' 'POL' 'LUX' 'HUN'
 'GTM' 'LTU' 'UKR' 'BLR' 'SVN' 'KOR' 'NZL' 'PRI' 'MAC' 'ARM' 'SLV' 'THA'
 'NPL' 'PHL' 'SVK' 'VNM' 'FRO' 'PAN' 'AND' 'HND' 'URY' 'MYS' 'ISL' 'MCO'
 'IDN' 'TTO' 'DZA' 'CYP' 'GRC' 'CYM' 'MDA' 'ROU' 'SRB' 'HRV' 'BLZ' 'SAU'
 'MLT' 'KWT' 'BOL' 'BRB' 'MTQ' 'ABW']

In [14]:
boston_df.to_csv('boston_iso_countries.csv',index=False)

In [28]:
all_df['Division'] = all_df['Division'].str.replace(r'^[MF]', '', regex=True)
all_df['Division'].fillna('-', inplace=True)

In [27]:
all_df['Division'].unique()

array(['20-24', '25-29', '30-34', '35-39', '40-44', '50-54', '45-49',
       '19 and under', '55-59', '18-19', '60-64', '18-29', '-', '18-39',
       '–'], dtype=object)

array(['18-39', '40-44', '50-54', '45-49', nan, '–', 'M18-39', 'M40-44',
       '55-59', 'F18-39', 'F40-44', 'F45-49', 'F55-59', 'F50-54'],
      dtype=object)