In [4]:
import pandas as pd
import numpy as np

In [25]:
years = [2014, 2015, 2016, 2017, 2018, 2019, 2021, 2022]

df = pd.DataFrame()

for year in years:
    tdf = pd.read_excel('Berlin_Manual_Data.xlsx', sheet_name=f"{year}")
    tdf['year'] = year
    df = pd.concat([df,tdf], axis=0, ignore_index=True)

In [30]:
# Import and lightly clean 2023 mens data
men_2023 = pd.read_excel('Berlin_Manual_Data.xlsx', sheet_name='2023 Men')
men_2023['sex'] = men_2023['gender']
men_2023['year'] = 2023
men_2023.drop(columns=['gender'], inplace=True)

def separate_names(full_name):
    name_parts = full_name.split()
    first_name = ""
    last_name = ""

    if len(name_parts) > 1 and name_parts[-1].isupper():
        last_name = name_parts.pop()
    
    first_name = " ".join(name_parts)

    return pd.Series([first_name, last_name], index=['First Name', 'Last Name'])

# Apply the function to the 'Full Name' column
men_2023[['first_name', 'last_name']] = men_2023['name'].apply(separate_names)

In [31]:
# Import and lightly clean 2023 womens data
women_2023 = pd.read_excel('Berlin_Manual_Data.xlsx', sheet_name='2023 Women')
women_2023['sex'] = women_2023['gender']
women_2023['year'] = 2023
women_2023.drop(columns=['gender'], inplace=True)

def separate_names(full_name):
    name_parts = full_name.split()
    first_name = ""
    last_name = ""

    if len(name_parts) > 1 and name_parts[-1].isupper():
        last_name = name_parts.pop()
    
    first_name = " ".join(name_parts)

    return pd.Series([first_name, last_name], index=['First Name', 'Last Name'])

# Apply the function to the 'Full Name' column
women_2023[['first_name', 'last_name']] = women_2023['name'].apply(separate_names)

In [32]:
# Combine 2023 data
df_2023 = pd.concat([men_2023,women_2023], axis=0, ignore_index=True)
print(df_2023)

     gender_result                      name           birth_date country  \
0                1            Eliud KIPCHOGE  1984-11-05 00:00:00     KEN
1                2  Vincent Kipkemoi NGETICH  1999-01-03 00:00:00     KEN
2                3             Tadese TAKELE  2002-08-03 00:00:00     ETH
3                4              Ronald KORIR  1991-04-10 00:00:00     KEN
4                5               Haftu TEKLU  2000-01-21 00:00:00     ETH
..             ...                       ...                  ...     ...
623            265              Ruth HAWKINS                  NaN     GBR
624            266          Jourdan BRIDWELL                  NaN     USA
625            267            Rebecca O'KILL                  NaN     GBR
626            268             Mika NAKAMURA  1971-08-13 00:00:00     JPN
627            269               Shara JONES                  NaN     GBR

    finish_time sex  year        first_name last_name
0      02:02:42   M  2023             Eliud  KIPCHOGE
1      02:03:13   M  2023  Vincent Kipkemoi   NGETICH
2      02:03:24   M  2023            Tadese    TAKELE
3      02:04:22   M  2023            Ronald     KORIR
4      02:04:42   M  2023             Haftu     TEKLU
..          ...  ..   ...               ...       ...
623    03:04:50   F  2023              Ruth   HAWKINS
624    03:04:54   F  2023           Jourdan  BRIDWELL
625    03:04:54   F  2023           Rebecca    O'KILL
626    03:04:55   F  2023              Mika  NAKAMURA
627    03:04:57   F  2023             Shara     JONES

[628 rows x 9 columns]

In [33]:
# Combine 2023 data with other data
df = pd.concat([df,df_2023], axis=0, ignore_index=True)
print(df)

      place  bib last_name first_name       club country sex division  \
0       1.0    2   Kimetto     Dennis      Kenia     KEN   M       30
1       2.0    3     Mutai   Emmanuel      Kenia     KEN   M       30
2       3.0   12      Kuma      Abera  Äthiopien     ETH   M        H
3       4.0    8  Kamworor   Geoffrey      Kenia     KEN   M        H
4       5.0    6  Kiptanui      Eliud      Kenia     KEN   M        H
...     ...  ...       ...        ...        ...     ...  ..      ...
2951    NaN  NaN   HAWKINS       Ruth        NaN     GBR   F      NaN
2952    NaN  NaN  BRIDWELL    Jourdan        NaN     USA   F      NaN
2953    NaN  NaN    O'KILL    Rebecca        NaN     GBR   F      NaN
2954    NaN  NaN  NAKAMURA       Mika        NaN     JPN   F      NaN
2955    NaN  NaN     JONES      Shara        NaN     GBR   F      NaN

      division_result  net_time finish_time    year  gender_result  \
0                 1.0  02:02:57    02:02:57  2014.0            NaN
1                 2.0  02:03:13    02:03:13  2014.0            NaN
2                 1.0  02:05:56    02:05:56  2014.0            NaN
3                 2.0  02:06:39    02:06:39  2014.0            NaN
4                 3.0  02:07:28    02:07:28  2014.0            NaN
...               ...       ...         ...     ...            ...
2951              NaN       NaN    03:04:50  2023.0          265.0
2952              NaN       NaN    03:04:54  2023.0          266.0
2953              NaN       NaN    03:04:54  2023.0          267.0
2954              NaN       NaN    03:04:55  2023.0          268.0
2955              NaN       NaN    03:04:57  2023.0          269.0

                  name           birth_date
0                  NaN                  NaN
1                  NaN                  NaN
2                  NaN                  NaN
3                  NaN                  NaN
4                  NaN                  NaN
...                ...                  ...
2951      Ruth HAWKINS                  NaN
2952  Jourdan BRIDWELL                  NaN
2953    Rebecca O'KILL                  NaN
2954     Mika NAKAMURA  1971-08-13 00:00:00
2955       Shara JONES                  NaN

[2956 rows x 15 columns]

In [35]:
def time_to_seconds_2023(time_str):
    try:
        return pd.to_timedelta(time_str).total_seconds()
    except ValueError:
        return time_str.hour * 3600 + time_str.minute * 60 + time_str.second
    
df['seconds'] = df['finish_time'].apply(time_to_seconds_2023)

In [37]:
df['name'] = df['name'].str.lower()
df['first_name'] = df['first_name'].str.lower()
df['last_name'] = df['last_name'].str.lower()
print(df)

      place  bib last_name first_name       club country sex division  \
0       1.0    2   kimetto     dennis      Kenia     KEN   M       30
1       2.0    3     mutai   emmanuel      Kenia     KEN   M       30
2       3.0   12      kuma      abera  Äthiopien     ETH   M        H
3       4.0    8  kamworor   geoffrey      Kenia     KEN   M        H
4       5.0    6  kiptanui      eliud      Kenia     KEN   M        H
...     ...  ...       ...        ...        ...     ...  ..      ...
2951    NaN  NaN   hawkins       ruth        NaN     GBR   F      NaN
2952    NaN  NaN  bridwell    jourdan        NaN     USA   F      NaN
2953    NaN  NaN    o'kill    rebecca        NaN     GBR   F      NaN
2954    NaN  NaN  nakamura       mika        NaN     JPN   F      NaN
2955    NaN  NaN     jones      shara        NaN     GBR   F      NaN

      division_result  net_time finish_time    year  gender_result  \
0                 1.0  02:02:57    02:02:57  2014.0            NaN
1                 2.0  02:03:13    02:03:13  2014.0            NaN
2                 1.0  02:05:56    02:05:56  2014.0            NaN
3                 2.0  02:06:39    02:06:39  2014.0            NaN
4                 3.0  02:07:28    02:07:28  2014.0            NaN
...               ...       ...         ...     ...            ...
2951              NaN       NaN    03:04:50  2023.0          265.0
2952              NaN       NaN    03:04:54  2023.0          266.0
2953              NaN       NaN    03:04:54  2023.0          267.0
2954              NaN       NaN    03:04:55  2023.0          268.0
2955              NaN       NaN    03:04:57  2023.0          269.0

                  name           birth_date  seconds
0                  NaN                  NaN     7377
1                  NaN                  NaN     7393
2                  NaN                  NaN     7556
3                  NaN                  NaN     7599
4                  NaN                  NaN     7648
...                ...                  ...      ...
2951      ruth hawkins                  NaN    11090
2952  jourdan bridwell                  NaN    11094
2953    rebecca o'kill                  NaN    11094
2954     mika nakamura  1971-08-13 00:00:00    11095
2955       shara jones                  NaN    11097

[2956 rows x 16 columns]

In [38]:
df.to_csv('Berlin_All_2014_to_2023.csv',index=False)